<form class="doc-form" [formGroup]="form" (ngSubmit)="submit()">
	<div>
		<div class="_holder" [appSetErrorClass]="inp('type')">
			<div class="default">
				<select class="select" name="type" formControlName="type" [appSetInputStates]="'_holder'" (change)="resetFileUpload()">
					<option value="" disabled>{{'choose-type' | translate}}</option>
					<option *ngFor="let type of typesList" [ngValue]="type">
						{{type.translation | translate}}
					</option>
				</select>
				<form-errors class="error-holder" [input]="inp('type')"></form-errors>
			</div>
		</div>
	</div>

	<div class="doc-upload-wrap">
		<div class="doc-upload-box">
			<div>
				<i class="icon front"></i>
				<div class="title">{{ (inp('type').value.value === 'Passport' ? 'documents-photo-page' : 'documents-front') | translate}}</div>
				<div [hidden]="getFile('front').fileName">
					<label [ngClass]="{ 'inactive': inp('type').invalid }" (click)="checkType()">
						{{'documents-click-to-upload' | translate}}
						<input #inputFront type="file" ngFileSelect [options]="options" (uploadOutput)="onUploadOutputFront($event)" [uploadInput]="uploadInputFront" 
							style="display:none;" [disabled]="inp('type').invalid"/>
					</label>
				</div>
				<div [hidden]="!getFile('front').fileName">
					<div class="upload-file-holder" [ngClass]="{'incorrect' : getFile('front').status === '3'}">
						<span class="file-name" title="{{getFile('front').fileName}}">{{ getFile('front').fileName }}</span>
						<i class="icon delete-file" (click)="uploadAgain('front')" *ngIf="!isDocComplate"></i>
						<!-- <div>
							<span [style.width]="fileFront?.progress?.data?.percentage + '%'"></span>
						</div> -->
					</div>
					<i class="icon" [ngClass]="'upload-file-status-' + getFile('front').status"></i>
				</div>

				<form-errors class="error-holder" [input]="inp('front')"></form-errors>
			</div>
		</div>

		<div class="doc-upload-box">
			<div>
				<i class="icon back" [ngClass]="{ 'cover': inp('type').value.value === 'Passport' }"></i>
				<div class="title">{{ (inp('type').value.value === 'Passport' ? 'documents-cover' : 'documents-back') | translate}}</div>
				<div [hidden]="getFile('back').fileName">
					<label [ngClass]="{ 'inactive': inp('type').invalid }" (click)="checkType()">
						{{'documents-click-to-upload' | translate}}
						<input #inputBack type="file" ngFileSelect [options]="options" (uploadOutput)="onUploadOutputBack($event)" [uploadInput]="uploadInputBack" 
							style="display:none;" [disabled]="inp('type').invalid"/>
					</label>
				</div>
				<div [hidden]="!getFile('back').fileName">
					<div class="upload-file-holder" [ngClass]="{'incorrect' : getFile('back').status === '3'}">
						<span class="file-name" title="{{getFile('back').fileName}}">{{getFile('back').fileName}}</span>
						<i class="icon delete-file" (click)="uploadAgain('back')" *ngIf="!isDocComplate"></i>
						<!-- <div>
							<span [style.width]="fileBack?.progress?.data?.percentage + '%'"></span>
						</div> -->
					</div>
					<i class="icon" [ngClass]="'upload-file-status-' + getFile('back').status"></i>
				</div>

				<form-errors class="error-holder" [input]="inp('back')"></form-errors>
			</div>
		</div>

		<form-errors class="server-error-holder" [input]="form"></form-errors>
	</div>

	<div class="button-holder">
		<button class="button type-5 check" [class.loading]="inAction" [disabled]="isFormDisabled">
			{{ ((inAction) ? 'loading' : submitButton) | translate }}
		</button>
		<div class="bottom-holder">{{'documents-need-help' | translate}} <a [routerLink]="'/platform/support' | localize">{{'documents-we-are-here' | translate}}</a></div>
	</div>
</form>