<div class="doc-box proof-of-id">
  <h1>{{'proof-of-id-upload-POI' | translate}}</h1>
  <p>{{'proof-of-id-txt1' | translate}}</p>
  <p>{{'proof-of-id-txt2' | translate}}</p>
  <p>{{'proof-of-id-txt3' | translate}}</p>

  <proof-of-id (complete)="stepFinished($event)"></proof-of-id>
</div>