header {
    .header-top {
        background: url('../../../../assets/img/header/header-bg.png') center top no-repeat;
        // background: linear-gradient(#012d48,#014369,#025d91);
        .wrapper {
            padding-top: 15px;
            padding-bottom: 15px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
        }
        .logo {
            display: inline-block;
        }
        .header-top-list {
            > li {
                display: inline-block;
                vertical-align: middle;
                & + li {margin-left: 10px;}
                > span {
                    color: #fff;
                    text-decoration: underline;
                }
                a {
                    padding: 10px 15px;
                    display: inline-block;
                    font-size: 14px;
                    text-transform: uppercase;
                    color: #fff;
                    &:hover {
                        color: rgb(255,115,1);
                       &.border {border-color: rgb(255,115,1);}
                    }
                    &.border {border: 1px solid #fff;}
                 }
                .user-icon {
                    position: relative;
                    display: inline-block;
                    margin-bottom: 9px;
                    vertical-align: middle;
                    width: 35px;
                    height: 35px;
                    background: url('../../../../assets/img/header/sprite-header-icons.png') 0 0 no-repeat;
                    background-size: cover;
                    cursor: pointer;
                    &::after {
                        content:'';
                        position: absolute;
                        right: 0;
                        bottom: -9px;
                        left: 0;
                        margin:0 auto;
                        width: 10px;
                        height: 5px;
                        background: url('../../../../assets/img/header/sprite-header-icons.png') 0 -40px no-repeat;
                    }
                }
                .dropdown {
                    position: absolute;
                    top: 50px;
                    right: -42px;
                    padding: 10px 0;
                    border-radius: 5px;
                    width: 120px;
                    background: rgb(2, 132, 172);
                    box-shadow: 0px 0px 4.8px 0.2px rgba(36, 22, 13, 0.55);
                    z-index: 10;
                    li {
                        a {
                            padding: 5px 10px;
                            display: block;
                            &:hover {
                                color: #fff;
                                background: rgba(255,255,255,0.2);
                            }
                        }
                    }
                }
            }
        }
    }
    .navigation {
        background: #fff;
        .wrapper {
            ul {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: flex-start;
                width: 100%;
                li {
                    position: relative;
                    & + li {margin-left: 35px;}
                    &.active::after {
                        content: '';
                        position: absolute;
                        right: 0;
                        bottom: -7px;
                        left: 0;
                        margin: 0 auto;
                        border-radius: 0 0 4px 0;
                        display: block;
                        width: 14px;
                        height: 14px;
                        background: #fff;
                        transform: rotate(45deg);
                    }
                    a {
                        position: relative;
                        padding-top: 38px;
                        padding-bottom: 10px;
                        display:inline-block;
                        vertical-align: middle;
                        text-transform: uppercase;
                        color: #000;
                        .alert {
                            background: red;
                            border-radius: 100%;
                            text-align: center;
                            position: absolute;
                            top: 15px;
                            right: 5px;
                            color: #fff;
                            display: block;
                            width: 15px;
                            height: 14px;
                            font-size: 10px;
                            line-height: 1.3;
                        }
                    }
                    .icon::before {
                        content: '';
                        position:absolute;
                        top: 14px;
                        right: 0;
                        left: 0;
                        margin: 0 auto;
                        display: inline-block;
                        vertical-align: middle;
                        background: url('../../../../assets/img/header/sprite-header-icons.png') 0 0 no-repeat;

                    }
                    .buy::before {
                        width: 25px;
                        height: 22px;
                        background-position: 0 -50px;
                    }
                    .orders::before {
                        width: 21px;
                        height: 19px;
                        background-position: 0 -77px;
                    }
                    .docs::before {
                        width: 16px;
                        height: 19px;
                        background-position: 0 -101px;
                    }
                    .support::before {
                        width: 21px;
                        height: 21px;
                        background-position: 0 -125px;
                    }
                }
            }
        }
    }
}

.lang-change {
    position: relative;
    display: none!important;
	text-transform: uppercase;
	color: #fff;
	& > ul {
        position: absolute;
        left: -10px;
		display: none;
        background: #01466d;
        z-index: 10;
		& > li {
			padding: 5px 10px;
			&:hover {
				color: #ff7301;
                cursor: pointer;
                background: rgba(255,255,255,0.1);
			}
		}
	}
	&:hover > ul {
		display: block;
	}
}

@media (max-width: 1100px) {
    header {
        .header-top {
            .header-top-list > li .dropdown {right: 0;}
        }
    }
}
@media (max-width: 640px) {
    header {
        .header-top {
            .header-top-list > li {
                &.user-email {display:none;}
            }
        }
        .navigation {
            .wrapper {
                ul {
                    justify-content: space-between;
                    li {
                        & + li {margin-left: 0;}
                    }
                }
            }
        }
    }
}

@media (max-width: 400px) {
    header {
        .header-top {
            .header-top-list > li {
                & + li {margin-left: 5px;}
                a {
                    padding: 5px;
                    font-size: 11px;
                }
                .dropdown li a {font-size: 13px;}
            }
        }
        .navigation {
            .wrapper {
                ul {
                    li {
                        a {font-size: 11px;}
                    }

                }
            }
        }
    }
}

@media (max-width: 320px) {
    header {
        .navigation {
            .wrapper {
                ul {
                    li {
                        a {font-size: 10px;}
                    }
                }
            }
        }
    }
}
