<header>
	<div class="header-top">
		<div class="wrapper">
			<a href="{{ wp_url }}" target="_blank">
				<img class="logo" src="assets/img/header/logo.png" alt="Coinshop" />
			</a>
			<ul class="header-top-list">
				<li *ngIf="!isLogged" routerLinkActive="active">
					<a class="border" [routerLink]="'/sign-in' | localize">{{'menu-sign-in' | translate}}</a>
				</li>
				<li *ngIf="!isLogged" routerLinkActive="active">
					<a [routerLink]="'/sign-up' | localize">{{'menu-sign-up' | translate }}</a>
				</li>
				<li class="user-email" *ngIf="isLogged" routerLinkActive="active">
					<span>{{user.email}}</span>
				</li>
				<li *ngIf="isLogged" routerLinkActive="active">
					<div class="user-icon" [ngClass]="'menu-status-' + menuState" (click)="toggleMenu()" #menuRef>
						<ul class="dropdown" [@slideInOut]='menuState'>
							<li><a class="" [routerLink]="'/platform/personal-details' | localize">{{'menu-profile' | translate}}</a></li>
							<li><a class="" [routerLink]="'/platform/support' | localize">{{'footer-1-menu-contact-us' | translate}}</a></li>
							<li><a class="" (click)="logout()">{{'menu-logout' | translate}}</a></li>
						</ul>
					</div>
				</li>
				<li class="lang-change">
					<div>{{ locale }}</div>
					<ul>
						<li *ngFor="let lang of localeList" (click)="changeLang(lang)">{{ lang }}</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<div class="navigation" *ngIf="isLogged">
		<nav class="wrapper">
			<ul>
				<li routerLinkActive="active">
					<a class="icon buy" [routerLink]="'/platform/buy-crypto' | localize">{{'nav-menu-buy-cryptocurrency' | translate}}</a>
				</li>
				<li routerLinkActive="active">
					<a class="icon orders" [routerLink]="'/platform/orders' | localize">
						{{'nav-menu-orders' | translate}}
						<span class="alert" *ngIf="openOrdersCount">{{ openOrdersCount }}</span>
					</a>
				</li>
				<li routerLinkActive="active">
					<a class="icon docs" [routerLink]="'/platform/documents' | localize">{{'nav-menu-document' | translate}}</a>
				</li>
				<li routerLinkActive="active">
					<a class="icon support" [routerLink]="'/platform/support' | localize">{{'nav-menu-support' | translate}}</a>
				</li>
			</ul>
		</nav>
	</div>
</header>
