<section class="main-container">
	<div class="wrapper wrapper-1">
		<div class="in">
			<h1>{{'chenge-password' | translate}}</h1>
			<reset-password-form (complete)="finishResetPassword()"></reset-password-form>
		</div>
	</div>
</section>