<footer>
    <div class="footer-1">
        <div class="wrapper">
            <ul class="footer-menu">
                <li class="footer-menu-col">
                    <div class="heading">{{'footer-1-menu-company' | translate}}</div>
                    <ul>
                        <li><a href="{{ wp_url }}about-us/" target="_blank">{{'footer-1-menu-about-us' | translate}}</a></li>
                        <li><a href="{{ blog_url }}" target="blank">{{'footer-1-menu-news' | translate}}</a></li>
                    </ul>
                </li>
                <li class="footer-menu-col">
                    <div class="heading">{{'footer-1-menu-services' | translate}}</div>
                    <ul>
                        <li><a href="{{ wp_url }}buy-bitcoin/" target="blank">{{'footer-1-menu-buy-bitcoin' | translate}}</a></li>
                        <li><a href="{{ wp_url }}buy-ether/" target="blank">{{'footer-1-menu-buy-ether' | translate}}</a></li>
                    </ul>
                </li>
                <li class="footer-menu-col">
                    <div class="heading">{{'footer-1-menu-legal' | translate}}</div>
                    <ul>
                        <!-- <li><a href="{{ wp_url }}faq/" target="blank">{{'footer-2-menu-faq' | translate}}</a></li> -->
                        <li><a href="{{ wp_url }}legal-terms/" target="_blank">{{'footer-2-menu-terms' | translate}}</a></li>
                        <li><a href="{{ wp_url }}legal-terms/?subp=2" target="_blank">{{'footer-2-menu-privacy' | translate}}</a></li>
                        <!-- <li *ngIf="!isLogged"><a href="{{ wp_url }}contact-us/" target="blank">{{'footer-2-menu-privacy' | translate}}</a></li>
                        <li *ngIf="isLogged"><a [routerLink]="'/platform/support' | localize">{{'footer-1-menu-contanct-us' | translate}}</a></li> -->
                    </ul>
                </li>
            </ul>
            <div class="social-networks-box">
                <img class="logo" src="assets/img/footer/logo-black.png" alt="Coinshop"/>
                <ul>
                    <li><a class="social-network"></a></li>
                    <li><a href="https://twitter.com/Crypto_CoinShop" target="_blank" class="social-network twitter" ></a></li>
                    <li><a href="https://www.facebook.com/CoinShop-155663401812126/" target="_blank" class="social-network facebook"></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- <div class="footer-2">
        <div class="wrapper">
            <ul class="list">
                <li><a href="{{ wp_url }}legal-terms/" target="_blank">{{'footer-2-menu-terms' | translate}}</a></li>
                <li><a href="{{ wp_url }}legal-terms/?subp=2" target="_blank">{{'footer-2-menu-privacy' | translate}}</a></li>
            </ul>
        </div>
    </div> -->
</footer>
