.footer-1 {
    background: #fff;
    .wrapper {
        padding-top: 40px;
        padding-bottom: 40px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start;
        .footer-menu {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            font-size: 13px;
            color: #4a4a4a;
            .footer-menu-col {
                & + .footer-menu-col {margin-left: 70px;}
                li + li {margin-top: 5px;}
            }
            .heading {
                margin-bottom: 10px;
                font-weight: 700;
                text-transform: uppercase;
            }
            a {
                color: #4a4a4a;
                &:hover {color: #ff7301;}
            }
        }
        .social-networks-box {
            text-align: center;
            ul {
                margin-top: 15px;
                li {
                    display: inline-block;
                    vertical-align: middle;
                    .social-network {
                        display: inline-block;
                        width: 43px;
                        height: 43px;
                        background: black;
                        background: url('../../../../assets/img/footer/sprite-social-networks.png') 0 0 no-repeat;
                        &.twitter {background-position: 0 -48px;}
                        &.facebook {background-position: 0 -96px;}
                    }
                }
            }
        }
    }
}
.footer-2 {
    background: #040605;
    .wrapper {
        padding-top: 30px;
        padding-bottom: 40px;
        text-align: center;
        .list {
            li {
                display: inline-block;
                vertical-align: middle;
                & + li {
                    border-left: 1px solid #fff;
                }
                a {
                    padding: 0 15px;
                    display: inline-block;
                    font-size: 13px;
                    color: #fff;
                    &:hover {color: #ff7301;}
                }
            }
        }
    }
}

@media (max-width:767px) {
    .footer-1 {
        .wrapper {
            padding-top: 35px;
            padding-bottom: 30px;
            flex-direction: column;
            .footer-menu, .social-networks-box {width: 100%;}
            .footer-menu {
                justify-content: center;
                .footer-menu-col + .footer-menu-col {margin-left: 12%;}
            }
            .social-networks-box {
                margin-top: 20px;
                .logo {
                    width: 175px;
                    height: 27px;
                }
            }
        }
    }
}