<form class="form personal-info" [formGroup]="form" (ngSubmit)="submit()">
	<form-errors class="server-error-holder" [input]="form"></form-errors>

	<div class="row-block">
		<label class="label">{{'name' | translate}}:</label>

		<div class="col-block row-block">
			<div class="_holder item" [appSetErrorClass]="inp('fname')">
				<div class="default">
					<input class="input" type="text" name="fname" formControlName="fname" [appSetInputStates]="'_holder'" [placeholder]="'first-name' | translate"/>
				</div>
				<form-errors class="error-holder" [input]="inp('fname')"></form-errors>
			</div>

			<div class="_holder item" [appSetErrorClass]="inp('lname')">
				<div class="default">
					<input class="input" type="text" name="lname" formControlName="lname" [appSetInputStates]="'_holder'" [placeholder]="'last-name' | translate"/>
				</div>
				<form-errors  class="error-holder" [input]="inp('lname')"></form-errors>
			</div>
		</div>
	</div>

	<div class="row-block">
		<label class="label">{{'date-of-birth' | translate}}:</label>

		<div class="date-of-birth-holder col-block">
			<div class="_holder" [appSetErrorClass]="inp('birth_day')">
				<div class="default">
					<select class="select" name="birth_day" formControlName="birth_day" [appSetInputStates]="'_holder'" (change)="checkBirthDay()">
						<option value="">{{'day-short' | translate}}</option>
						<option *ngFor="let day of range(1, 31)" [ngValue]="day.withZero">{{day.withZero}}</option>
					</select>
				</div>
				<form-errors class="error-holder" [input]="inp('birth_day')"></form-errors>
			</div>

			<div class="_holder" [appSetErrorClass]="inp('birth_month')">
				<div class="default">
					<select class="select" name="birth_month" formControlName="birth_month" [appSetInputStates]="'_holder'" (change)="checkBirthDay()">
						<option value="">{{'month-short' | translate}}</option>
						<option *ngFor="let day of range(1, 12)" [ngValue]="day.withZero">{{day.withZero}}</option>
					</select>
				</div>
				<form-errors class="error-holder" [input]="inp('birth_month')"></form-errors>
			</div>

			<div class="_holder" [appSetErrorClass]="inp('birth_year')">
				<div class="default">
					<select class="select" name="birth_year" formControlName="birth_year" [appSetInputStates]="'_holder'" (change)="checkBirthDay()">
						<option value="">{{'year-full' | translate}}</option>
						<option *ngFor="let day of range(year_18, 1900)" [ngValue]="day.withZero">{{day.withZero}}</option>
					</select>
				</div>
				<form-errors class="error-holder" [input]="inp('birth_year')"></form-errors>
			</div>

			<form-errors class="error-holder" [input]="inp('birth_date')"></form-errors>
		</div>
	</div>

	<div class="row-block">
		<label class="label">{{'address' | translate}}:</label>

		<div class="_holder col-block item" [appSetErrorClass]="inp('addr')">
			<div class="default">
				<input class="input" type="text" name="addr" formControlName="addr" [appSetInputStates]="'_holder'" [placeholder]="'street' | translate"/>
			</div>
			<form-errors class="error-holder" [input]="inp('addr')"></form-errors>
		</div>
<!--
		<div class="_holder" [appSetErrorClass]="inp('addr_no')">
			<div class="default">
				<input class="input" type="text" name="addr_no" formControlName="addr_no" [appSetInputStates]="'_holder'" [placeholder]="'street-no' | translate"/>
			</div>
			<form-errors class="error-holder" [input]="inp('addr_no')"></form-errors>
		</div>
-->
	</div>

	<div class="row-block">
		<label class="label">{{'city' | translate}}:</label>

		<div class="col-block row-block">
			<div class="_holder item" [appSetErrorClass]="inp('city')">
				<div class="default">
					<input class="input" type="text" name="city" formControlName="city" [appSetInputStates]="'_holder'" [placeholder]="'city' | translate"/>
				</div>
				<form-errors class="error-holder" [input]="inp('city')"></form-errors>
			</div>

			<div class="_holder item" [appSetErrorClass]="inp('zip')">
				<div class="default">
					<input class="input" type="text" name="zip" formControlName="zip" [appSetInputStates]="'_holder'" [placeholder]="'zip-code' | translate"/>
				</div>
				<form-errors class="error-holder" [input]="inp('zip')"></form-errors>
			</div>
		</div>
	</div>

	<div class="row-block">
		<label class="label">{{'country' | translate}}:</label>

		<div class="_holder item col-block" [appSetErrorClass]="inp('country')">
			<div class="default">
				<select class="select" name="country" formControlName="country" [appSetInputStates]="'_holder'" (change)="setPhonePrefix()">
					<option *ngFor="let country of countries | keys" [ngValue]="country.value.iso">{{country.value.name}}</option>
				</select>
			</div>
			<form-errors class="error-holder" [input]="inp('country')"></form-errors>
		</div>
	</div>

	<div class="row-block">
		<label class="label">{{'mobile' | translate}}:</label>

		<div class="col-block row-block">
			<div class="_holder smaller-box" [appSetErrorClass]="inp('phone_prefix')">
				<div class="default">
					<input class="input" type="text" name="phone_prefix" formControlName="phone_prefix" [appSetInputStates]="'_holder'"/>
				</div>
				<form-errors class="error-holder" [input]="inp('phone_prefix')"></form-errors>
			</div>

			<div class="_holder item" [appSetErrorClass]="inp('mobile_number')">
				<div class="default">
					<input class="input" type="text" name="mobile_number" formControlName="mobile_number" [appSetInputStates]="'_holder'" [placeholder]="'phone-number' | translate"
						appRestrictDigits/>
				</div>
				<form-errors class="error-holder" [input]="inp('mobile_number')"></form-errors>
			</div>
		</div>
	</div>

	<div class="row-block">
		<label class="label">{{'menu-proof-of-residence' | translate}}:</label>

		<div class="_holder item col-block" [appSetErrorClass]="inp('front')">
			<div class="simple-table">
				<label class="simple-browse">
					<span class="simple-value">{{ inp('front').value }}</span>
					<input #inputFront type="file" ngFileSelect [options]="options" (uploadOutput)="onUploadOutputFront($event)" [uploadInput]="uploadInputFront"
						style="display:none;"/>
					<span class="simple-button">{{'browse' | translate }}</span>
				</label>

				<div class="additional-text" [appSetErrorClass]="inp('front')">
					({{'optional' | translate }})
				</div>
			</div>
			<form-errors class="error-holder" [input]="inp('front')"></form-errors>
		</div>
	</div>

	<div class="row-block _holder" [appSetErrorClass]="inp('ustax')">
		<div class="label"></div>
		<label class="inv-api-checkbox-holder">
			<input type="checkbox" name="ustax" formControlName="ustax" [appSetInputStates]="'_holder'" />
			<span class="inv-api-checkbox"></span>
			<span class="inv-api-checkbox-txt" [innerHTML]="'label-ustax' | translate"></span>
		</label>
		<form-errors class="error-holder" [input]="inp('ustax')"></form-errors>
	</div>

	<div class="row-block _holder" [appSetErrorClass]="inp('politically_exposed_person')">
		<div class="label"></div>
		<label class="inv-api-checkbox-holder">
			<input type="checkbox" name="politically_exposed_person" formControlName="politically_exposed_person" [appSetInputStates]="'_holder'" />
			<span class="inv-api-checkbox"></span>
			<span class="inv-api-checkbox-txt" [innerHTML]="'label-politically-exposed-person' | translate"></span>
		</label>
		<form-errors class="error-holder" [input]="inp('politically_exposed_person')"></form-errors>
	</div>

	<div class="button-holder">
		<button class="button type-5 check" [class.loading]="inAction" [disabled]="isFormDisabled">
			{{ ((inAction) ? 'loading' : submitButton) | translate }}
		</button>
		<div class="bottom-holder">
			{{'documents-need-help' | translate}} <a [routerLink]="'/platform/support' | localize">{{'documents-we-are-here' | translate}}</a>
		</div>
	</div>
</form>
