<div class="doc-box proof-of-residence">
  <h1>{{'proof-of-residence-upload-POR' | translate}}</h1>
  <p>{{'proof-of-residence-text1' | translate}}</p>
  <p [innerHTML]="'proof-of-residence-text2' | translate"></p>

  <proof-of-residence (complete)="stepFinished($event)"></proof-of-residence>
</div>