<section class="main-container">
	<div class="wrapper wrapper-1">
		<div class="top-header">
			<h1>{{'forgot-password-title' | translate}}</h1>
			<div class="info" *ngIf="showMsg" [innerHTML]="'forgot-password-info' | translate: {email: resetEmail}"></div>
		</div>
		<div class="in">
			<forgot-password-form (complete)="finishForgotPassword($event)"></forgot-password-form>
			<a class="inv-api-orange-link" [routerLink]="'/sign-in' | localize">{{'menu-sign-in' | translate}}</a>
		</div>
	</div>
</section>