<form class="form form-logout" [formGroup]="form" (ngSubmit)="submit()">
	<div class="row-block _holder" [appSetErrorClass]="inp('email')">
		<div class="default">
			<input class="input" type="email" name="email" formControlName="email" [appSetInputStates]="'_holder'" [placeholder]="'placeholder-email-address' | translate"/>
		</div>
		<form-errors class="error-holder" [input]="inp('email')"></form-errors>
	</div>

	<form-errors class="server-error-holder" [input]="form"></form-errors>

	<div class="button-holder">
		<button class="button type-5 check" [class.loading]="inAction" [disabled]="form.invalid || inAction">
			{{'button-reset-password' | translate}}
		</button>
	</div>
</form>