<form  class="form form-logout" [formGroup]="form" (ngSubmit)="submit()">
	<div class="row-block _holder" [appSetErrorClass]="inp('username')">
		<div class="default">
			<input class="input" type="email" name="username" formControlName="username" [appSetInputStates]="'_holder'" [placeholder]="'placeholder-email-address' | translate"/>
		</div>
		<form-errors class="error-holder" [input]="inp('username')"></form-errors>
	</div>

	<div class="row-block _holder" [appSetErrorClass]="inp('password')">
		<div class="default">
			<input class="input" type="password" name="password" formControlName="password" [appSetInputStates]="'_holder'" [placeholder]="'placeholder-password' | translate"/>
		</div>
		<form-errors class="error-holder" [input]="inp('password')"></form-errors>
	</div>

	<re-captcha class="inv-api-captcha-holder" #captchaRef (resolved)="resolved($event)" [siteKey]="reCaptchKey"></re-captcha>

	<form-errors class="server-error-holder" [input]="form"></form-errors>

	<div class="button-holder">
		<button class="button type-5 check" [class.loading]="inAction" [disabled]="form.invalid || inAction">
			{{'button-login' | translate}}
		</button>
	</div>
</form>