<div class="popUp-container desposit-bank-wire">
	<p *ngIf="data.popupType !== 'info'">
		<span class="fw700">{{'thank-you' | translate}}.</span><br/>
		<span [innerHTML]="'deposit-success-bankwire-txt1' | translate"></span>
	</p>
	<p *ngIf="data.popupType === 'info'">
		<span class="fw700">{{'buy-crypto-your-order' | translate}}</span><br/>
		<span [innerHTML]="'deposit-success-bankwire-txt2' | translate"></span>
	</p>

	<div class="bank-wire-info">
		<div class="row">
			<div class="fw700">{{'bank-information' | translate}}</div>
			<div>
				{{'name' | translate}}: <span class="fw400">{{ data.bank_account_info.name }}</span>
			</div>
			<div>
				{{'account-number' | translate}}: <span class="fw400">{{ data.bank_account_info.accountNum }}</span>
			</div>
			<div>
				{{'country' | translate}}: <span class="fw400">{{ data.bank_account_info.country }}</span>
			</div>
			<div>
				{{'bank-name' | translate}}: <span class="fw400">{{ data.bank_account_info.bank }}</span>
			</div>
			<div>
				{{'swift-bic' | translate}}: <span class="fw400">{{ data.bank_account_info.swift }}</span>
			</div>
		</div>

		<div class="row">
			<div class="fw700">{{'account-information' | translate}}</div>
			<div class="account-information-box">
				<div>
					<div>
						{{'transaction-ID' | translate}}:
						<span class="fw400">{{ data.transaction_id }}</span>
					</div>
					<div>
						{{'account-number' | translate}}:
						<span class="fw400">{{ data.account_id }}</span>
					</div>
				</div>
				<div>
					<div>
						{{'deposit-amount' | translate}}:
						<span class="fw400">{{ data.amount | number }}</span>
					</div>
					<div>
						{{'deposit-currency' | translate}}:
						<span class="fw400">{{ data.currency }}</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<p *ngIf="data.popupType !== 'info'">{{'deposit-success-bankwire-txt3' | translate}}</p>
	<p>
		<span class="fw700" *ngIf="data.popupType !== 'info'">{{'deposit-success-bankwire-txt4' | translate}}</span>
		<span *ngIf="data.popupType === 'info'">{{'deposit-success-bankwire-txt5' | translate}}</span><br/>
		<span>{{'deposit-success-bankwire-txt6' | translate}}</span><br/>
		<span>{{'deposit-success-bankwire-txt7' | translate}}</span><br/>
		<span [innerHTML]="'deposit-success-bankwire-txt8' | translate: {email: supportEmail}"></span>
	</p>
	<p [innerHTML]="'deposit-success-bankwire-txt9' | translate"></p>

	<div class="button-holder">
		<button class="button" (click)="close()">{{'button-close' | translate}}</button>
	</div>
</div>