<div class="doc-box selfie">
  <h1>{{'selfie-view-upload-selfie' | translate}}</h1>
  <p>{{'selfie-view-txt1' | translate}}</p>
  <p>{{'selfie-view-list1' | translate}}</p>
  <p>{{'selfie-view-list2' | translate}}</p>
  <p>{{'selfie-view-list3' | translate}}</p>
  <p>{{'selfie-view-list4' | translate}}</p>
  <p>{{'selfie-view-list5' | translate}}</p>

  <selfie (complete)="stepFinished($event)"></selfie>
</div>