<div class="popUp-container deposit-3d">
  <i class="close-icon" (click)="close()"></i>
  <div class="top-box">
    <div class="heading">{{'deposit-3d-heading'| translate}}</div>
    <div>{{'deposit-3d-txt'| translate}}</div>
  </div>

  <app-iframe (complete)="finishIframe($event)" [info]="iframeInfo"></app-iframe>
</div>