<section  class="main-container orders-page">
	<div class="wrapper">
		<div class="wrapper2">
			<!-- Open Orders -->
			<div class="holder" *ngIf="transactionsList?.open?.length" [ngClass]="{ noPrint: printTableClass === 'history' }">
				<div class="header-holder">
					<h1>{{'open-orders' | translate}}</h1>
					<ul class="icons-box">
						<li><i class="icon export" (click)="export('openOrders')"></i></li>
						<li><i class="icon print" (click)="openPrinter('open');"></i></li>
					</ul>
				</div>

				<div class="table-wrapper" id="openOrders">
					<div class="row">
						<div class="box table-header">
							<div class="col date-cell">{{'creation-date' | translate}}</div>
							<div class="col">{{'amount' | translate}}*</div>
							<div class="col">{{'rate' | translate}}*</div>
							<div class="col">{{'currency' | translate}}</div>
							<div class="col">{{'subtotal' | translate}}</div>
							<div class="col">{{'footer-1-menu-fees' | translate}}</div>
							<div class="col">{{'clearance-fee' | translate}}</div>
							<div class="col">{{'total' | translate}}</div>
							<div class="col status-cell">{{'status' | translate}}</div>
						</div>
					</div>

					<div class="row" *ngFor="let order of transactionsList?.open">
						<div class="box clickable" [ngClass]="{ 'open': order.detailsOpened}" (click)="toggleAccordion(order)">
							<div class="col date-cell">
								<div>{{ (order.tstamp * 1000) | date: 'dd-MM-yy' }}</div>
								<div>{{ (order.tstamp * 1000) | date: 'H:mm:ss' }}</div>
							</div>
							<div class="col">{{ order.amount }} {{ order.coin }}</div>
							<div class="col">{{ (order.subtotal / order.amount) | number:'1.2-2' }}</div>
							<div class="col">{{ order.currency }}</div>
							<div class="col">{{ order.subtotal | number }}</div>
							<div class="col">{{ order.fee | number }}</div>
							<div class="col">{{ order.clearance_fee | number }}</div>
							<div class="col">{{ order.total | number }}</div>
							<div class="col status-cell">
								<span class="status">{{'order-status-' + order.status | translate}}</span>
								<i class="status-arrow"></i>
							</div>
						</div>
						<div class="open-order-holder" [hidden]="!order.detailsOpened">
							<div class="open-box">
								<div class="transaction-info">
									<div>
										<span>{{'transaction-ID' | translate}}:</span> {{ order.transaction_id }}
									</div>
									<div>
										<span>{{'payment-method' | translate}}:</span> {{ order.payment_method }}
									</div>
									<div>
										<span>{{'wallet' | translate}}:</span> {{ order.wallet }}
									</div>
								</div>
								<div class="bank-wire-info" *ngIf="order.payment_method === 'Bank transfer'">
									<!-- <div class="warning-message-box">
										<div class="warning-message">
											<span>{{'transactions-banks-wire-txt' | translate}}</span>
											<i class="upload-doc"></i>
										</div>
									</div> -->
									<div class="bank-wire-details" (click)="showBankWirePopup(order)">{{'bank-wire-details' | translate}}</div>
								</div>
							</div>
						</div>
					</div>

					<div class="table-footer">*{{'transactions-txt' | translate}}</div>
				</div>
			</div>

			<!-- Open History -->
			<div class="holder" *ngIf="transactionsList?.history?.length || !transactionsList?.open?.length" [ngClass]="{ noPrint: printTableClass === 'open' }">
				<div class="header-holder">
					<h1>{{'orders-history' | translate}}</h1>
					<ul class="icons-box" *ngIf="transactionsList?.history?.length">
						<li><i class="icon export" (click)="export('historyOrders')"></i></li>
						<li><i class="icon print" (click)="openPrinter('history');"></i></li>
					</ul>
				</div>
				<div class="table-wrapper" id="historyOrders">
					<div class="row">
						<div class="box table-header">
							<div class="col date-cell">{{'creation-date' | translate}}</div>
							<div class="col">{{'amount' | translate}}</div>
							<div class="col">{{'rate' | translate}}</div>
							<div class="col">{{'currency' | translate}}</div>
							<div class="col">{{'subtotal' | translate}}</div>
							<div class="col">{{'footer-1-menu-fees' | translate}}</div>
							<div class="col">{{'clearance-fee' | translate}}</div>
							<div class="col">{{'total' | translate}}</div>
							<div class="col status-cell">{{'status' | translate}}</div>
						</div>
					</div>

					<div class="row" *ngFor="let order of transactionsList.history">
						<div class="box clickable" [ngClass]="{ 'open': order.detailsOpened}" (click)="toggleAccordion(order)">
							<div class="col date-cell">
								<div>{{ (order.tstamp * 1000) | date: 'dd-MM-yy' }}</div>
								<div>{{ (order.tstamp * 1000) | date: 'H:mm:ss' }}</div>
							</div>
							<div class="col">{{ order.amount }} {{ order.coin }}</div>
							<div class="col">{{ (order.subtotal / order.amount) | number:'1.2-2' }}</div>
							<div class="col">{{ order.currency }}</div>
							<div class="col">{{ order.subtotal | number }}</div>
							<div class="col">{{ order.fee | number }}</div>
							<div class="col">{{ order.clearance_fee | number }}</div>
							<div class="col">{{ order.total | number }}</div>
							<div class="col status-cell">
								<span class="status">{{'order-status-' + order.status | translate}}</span>
								<i class="status-arrow"></i>
							</div>
						</div>
						<div class="open-order-holder" [hidden]="!order.detailsOpened">
							<div class="open-box">
								<div class="transaction-info">
									<div>
										<span>{{'transaction-ID' | translate}}:</span> {{ order.transaction_id }}
									</div>
									<div>
										<span>{{'wallet' | translate}}:</span> {{ order.wallet }}
									</div>
									<div>
										<span>{{'payment-method' | translate}}:</span> {{ order.payment_method }}
									</div>
								</div>
								<div class="transaction-info">
									<div *ngIf="order.closed_time">
										<span>{{'close-date' | translate}}:</span> {{ (order.closed_time * 1000) | date: 'dd-MM-yy | H:mm:ss' }}
									</div>
									<!-- <div>
										<span>{{'comments' | translate}}:</span> {{ order.comments }}
									</div> -->
								</div>
							</div>
						</div>
					</div>

					<div class="row empty-table" *ngIf="!transactionsList.open.length && !transactionsList.history.length">
						<div class="box">
							<i class="icon"></i>
							<p class="fw700">{{'transactions-emtry-table-txt1' | translate}}</p>
							<p [appTranslate]="'transactions-emtry-table-txt2'" translateParams='{"link": "/platform/buy-crypto"}'></p>
						</div>
					</div>
				</div>
			</div>

			<div class="pagination-holder" *ngIf="pageCount > 1">
				<span (click)="goToPage('prev')">&#60;</span>
				<ul class="pagination">
					<li class="active" 
							[ngClass]="{ 'active': currentPage === page.value }" 
							*ngFor="let page of range(1, pageCount)"
							(click)="goToPage(page.value)">
						{{page.value}}
					</li>
				</ul>
				<span (click)="goToPage('next')">&#62;</span>
			</div>
		</div>
	</div>
</section>