<section class="main-container support-page">
	<div class="wrapper">
		<div class="wrapper2">
			<div class="box">
                <div [hidden]="isFormComplated">
                    <h1>{{'documents-need-help' | translate}}</h1>

                    <form class="form" [formGroup]="form" (ngSubmit)="submit()">
                        <div class="row-block _holder" [appSetErrorClass]="inp('name')">
                            <div class="default">
                                <input class="input" type="text" name="name" formControlName="name" [appSetInputStates]="'_holder'" [placeholder]="'name' | translate"/>
                            </div>
                            <form-errors class="error-holder" [input]="inp('name')"></form-errors>
                        </div>

                        <div class="row-block _holder" [appSetErrorClass]="inp('email')">
                            <div class="default">
                                <input class="input" type="email" name="email" formControlName="email" [appSetInputStates]="'_holder'" [placeholder]="'placeholder-email-address' | translate"/>
                            </div>
                            <form-errors class="error-holder" [input]="inp('email')"></form-errors>
                        </div>

                        <div class="row-block _holder phone-box">
                            <div class="_holder" [appSetErrorClass]="inp('country')">
                                <div class="default">
                                    <select class="select" name="country" formControlName="country" [appSetInputStates]="'_holder'">
                                        <option *ngFor="let country of countries | keys" [ngValue]="country.value.telcode">{{country.value.name}} (+{{ country.value.telcode }})</option>
                                    </select>
                                </div>
                                <form-errors class="error-holder" [input]="inp('country')"></form-errors>
                            </div>
                            <div class="_holder" [appSetErrorClass]="inp('phone')">
                                <div class="default">
                                <input class="input" type="text" name="phone" formControlName="phone" [appSetInputStates]="'_holder'" [placeholder]="'phone-number' | translate" 
                                    appRestrictDigits/>
                                </div>
                                <form-errors class="error-holder" [input]="inp('phone')"></form-errors>
                            </div>
                        </div>

                        <div class="row-block _holder" [appSetErrorClass]="inp('subject')">
                            <div class="default">
                                <input class="input" type="text" name="subject" formControlName="subject" [appSetInputStates]="'_holder'" [placeholder]="'placeholder-subject' | translate"/>
                            </div>
                            <form-errors class="error-holder" [input]="inp('subject')"></form-errors>
                        </div>

                        <div class="row-block _holder" [appSetErrorClass]="inp('message')">
                            <div class="default">
                                <textarea class="input text-area" name="message" formControlName="message" [appSetInputStates]="'_holder'" [placeholder]="'placeholder-message' | translate"></textarea>
                            </div>
                            <form-errors class="error-holder" [input]="inp('message')"></form-errors>
                        </div>


                        <form-errors class="server-error-holder" [input]="form"></form-errors>

                        <div class="button-holder">
                            <button class="button type-5 check" [class.loading]="inAction" [disabled]="form.invalid || inAction">
                                {{'button-send' | translate}}
                            </button>
                        </div>
                    </form>
                </div>
                <div class="thank-you-box" [hidden]="!isFormComplated">
                    <div [innerHTML]="'support-page-thank-you-txt' | translate"></div>
                </div>
			</div>

			<div class="box contact-us">
                <div class="grey-box" [innerHTML]="'support-page-txt1' | translate: { link: wp_url + 'faq/'}"></div>
				<div class="fw700">{{'support-page-sub-heading' | translate}}</div>
				<div class="icon working-time"><span>{{'support-page-working-time' | translate}}</span></div>
				<div class="icon email">
					<span><a href="mailto:{{supportEmail}}">{{ supportEmail }}</a></span>
				</div>
				<div class="icon phone" [innerHTML]="'support-page-tel' | translate"></div>
				<div class="icon address"><span>{{'support-page-address' | translate}}</span></div>
			</div>
		</div>
	</div>
</section>