<form class="form change-password-form" [formGroup]="form" (ngSubmit)="submit()">
	<div class="row-block _holder" [appSetErrorClass]="inp('old_password')">
		<label for="old_password">{{'old-password' | translate}}:</label>
		<div class="default">
			<div class="password-holder">
				<input class="input" id="old_password" type="password" name="old_password" formControlName="old_password" [appSetInputStates]="'_holder'"/>
				<i class="show-password" appShowPassword></i>
			</div>
			<form-errors class="error-holder" [input]="inp('old_password')"></form-errors>
		</div>	
	</div>

	<div class="row-block _holder" [appSetErrorClass]="inp('password')">
		<label for="password">{{'new-password' | translate}}:</label>
		<div class="default">
			
			<div class="password-holder">
				<span class="password-restriction">({{'password-restriction' | translate}})</span>
				<input class="input" id ="password" type="password" name="password" formControlName="password" [appSetInputStates]="'_holder'"/>
				<i class="show-password" appShowPassword></i>
			</div>
			<form-errors class="error-holder" [input]="inp('password')"></form-errors>
		</div>
	</div>

	<div class="row-block _holder" [appSetErrorClass]="inp('password_confirmation')">
		<label for="password_confirmation">{{'placeholder-password-confirm' | translate}}:</label>
		<div class="default">
			<div class="password-holder">
				<input class="input" id="password_confirmation" type="password" name="password_confirmation" formControlName="password_confirmation" [appSetInputStates]="'_holder'"/>
				<i class="show-password" appShowPassword></i>
			</div>
			<form-errors class="error-holder" [input]="inp('password_confirmation')"></form-errors>
		</div>
	</div>

	<form-errors class="server-error-holder" [input]="form"></form-errors>

	<div class="button-holder">
		<button class="button type-5 check" [class.loading]="inAction" [disabled]="form.invalid || inAction">
			{{'button-update-password' | translate}}
		</button>
	</div>
</form>