<div class="doc-box thank-you-page">
	<div>
		<h1 *ngIf="showThankYou">{{'thank-you' | translate}}</h1>
		<div *ngIf="showThankYou" [innerHTML]="'thank-you-page-txt1' | translate"></div>

		<h1 *ngIf="!showThankYou">{{'documents-status' | translate}}</h1>
		<div *ngIf="!showThankYou" [innerHTML]="'thank-you-page-txt2' | translate"></div>

		<ul class="doc-status-list">
			<li *ngFor="let tab of documentsList">
				<i class="doc-icon" [ngClass]="tab.classIcon"></i>
				<div class="title">{{ tab.translation | translate }}</div>
				<a  [routerLink]="tab.link | localize" class="doc-status-{{tab.status}}">{{'doc-status-' + tab.status | translate}}</a>
			</li>
		</ul>
	</div>
</div>