<div class="doc-box">
  <h1>{{'menu-personal-information' | translate}}</h1>
  <div class="sub-heading">{{'personal-info-fill-your-personal-details' | translate}}</div>

  <personal-info (complete)="stepFinished($event)"></personal-info>
</div>