<div class="popUp-container verify-email">
	<div>
		<i class="confirm-password"></i>
		<h1>{{'confirm-email-title' | translate}}</h1>
		<div class="sub-heading">{{'confirm-email-sub-heading' | translate}}</div>
		<div class="box">
			<h2>{{'confirm-email-title-2' | translate}}</h2>
			<div class="sub-heading-box">{{'confirm-email-title-2-2' | translate}}</div>
			<p [innerHTML]="'confirm-email-txt1' | translate"></p>
			<p [innerHTML]="'confirm-email-txt2' | translate"></p>
			<p [innerHTML]="'confirm-email-txt3' | translate: {email: supportEmail}"></p>
		</div>
	</div>
</div>