<form class="form form-logout" [formGroup]="form" (ngSubmit)="submit()">
	<div class="row-block _holder" [appSetErrorClass]="inp('email')">
		<div class="default">
			<input class="input" type="email" name="email" formControlName="email" [appSetInputStates]="'_holder'" [placeholder]="'placeholder-email-address' | translate"/>
		</div>
		<form-errors class="error-holder" [input]="inp('email')"></form-errors>
	</div>

	<div class="row-block _holder" [appSetErrorClass]="inp('password')">
		<div class="default">
			<input class="input" type="password" name="password" formControlName="password" [appSetInputStates]="'_holder'" [placeholder]="'placeholder-password' | translate"/>
		</div>
		<form-errors class="error-holder" [input]="inp('password')"></form-errors>
	</div>

	<div class="row-block _holder" [appSetErrorClass]="inp('password_confirmation')">
		<div class="default">
			<input class="input" type="password" name="password_confirmation" formControlName="password_confirmation" [appSetInputStates]="'_holder'"
			 [placeholder]="'placeholder-password-confirm' | translate" />
		</div>
		<form-errors class="error-holder" [input]="inp('password_confirmation')"></form-errors>
	</div>

	<div class="row-block _holder" [appSetErrorClass]="inp('acceptTerms')">
		<label class="inv-api-checkbox-holder">		
			<input type="checkbox" name="acceptTerms" formControlName="acceptTerms" [appSetInputStates]="'_holder'" />
			<span class="inv-api-checkbox"></span>
			<span class="inv-api-checkbox-txt" [innerHTML]="'label-accept-terms' | translate: { linkTerms: outgoingLinks.linkTerms, linkPrivacy: outgoingLinks.linkPrivacy }"></span>
		</label>
		<form-errors class="error-holder" [input]="inp('acceptTerms')"></form-errors>
	</div>

	<re-captcha class="inv-api-captcha-holder" #captchaRef (resolved)="resolved($event)" [siteKey]="reCaptchKey"></re-captcha>

	<form-errors class="server-error-holder" [input]="form"></form-errors>

	<div class="button-holder">
		<button class="button type-5 check" [class.loading]="inAction" [disabled]="form.invalid || inAction">
			{{'button-register' | translate}}
		</button>
	</div>
</form>