<form class="form change-phone-form" [formGroup]="form" (ngSubmit)="submit()">
	<div class="row-block _holder">

		<div class="default _holder">
			<input class="input taC" type="text" name="phone_prefix" formControlName="phone_prefix"/>
		</div>

		<div class="default  _holder" [appSetErrorClass]="inp('phone_number')">
			<input class="input" type="text" name="phone_number" formControlName="phone_number" [appSetInputStates]="'_holder'" [placeholder]="'phone-number' | translate"
					appRestrictDigits/>
			<form-errors class="error-holder" [input]="inp('phone_number')"></form-errors>
		</div>
	</div>

	<form-errors class="server-error-holder" [input]="form"></form-errors>

	<div class="button-holder">
		<button class="button type-5 check" [class.loading]="inAction" [disabled]="form.invalid || inAction">
			{{'button-update-phone' | translate}}
		</button>
	</div>
</form>