<form class="doc-form" [formGroup]="form" (ngSubmit)="submit()">
	<div>
		<div class="_holder" [appSetErrorClass]="inp('type')">
			<div class="default">
				<select class="select" name="type" formControlName="type" [appSetInputStates]="'_holder'" (change)="resetFileUpload()">
					<option value="" disabled>{{'choose-type' | translate}}</option>
					<option *ngFor="let type of typesList" [ngValue]="type">
						{{type.translation | translate}}
					</option>
				</select>
			</div>
			<form-errors class="error-holder" [input]="inp('type')"></form-errors>
		</div>
	</div>

	<div class="doc-upload-wrap">
		<div class="doc-upload-box">
			<div [hidden]="getFile().fileName">
				<div>
					<div [appSetErrorClass]="inp('type')">
						<i class="icon front"></i>
					</div>

					<label [ngClass]="{ 'inactive': inp('type').invalid }" (click)="checkType()">
						{{'documents-click-to-upload' | translate}}
						<input #inputFront type="file" ngFileSelect [options]="options" (uploadOutput)="onUploadOutputFront($event)" [uploadInput]="uploadInputFront" 
							style="display:none;" [disabled]="inp('type').invalid"/>
					</label>

					<form-errors class="error-holder" [input]="inp('front')"></form-errors>
				</div>
			</div>

			<div [hidden]="!getFile().fileName">
				<div class="upload-file-holder" [ngClass]="{'incorrect' : getFile().status === '3'}">
					<div class="file-name">{{getFile().fileName}}</div>
					<i class="icon delete-file" (click)="uploadAgain('front')" *ngIf="!isDocComplate"></i>
					<div>
						<span [style.width]="fileFront?.progress?.data?.percentage + '%'"></span>
					</div>
				</div>
				<i class="icon" [ngClass]="'upload-file-status-' + getFile().status"></i>
			</div>
		</div>

		<form-errors class="server-error-holder" [input]="form"></form-errors>
	</div>
	<div class="button-holder">
		<button class="button type-5 check" [class.loading]="inAction" [disabled]="isFormDisabled">
			{{ ((inAction) ? 'loading' : submitButton) | translate }}
		</button>
		<div class="bottom-holder">
			{{'documents-need-help' | translate}} <a [routerLink]="'/platform/support' | localize">{{'documents-we-are-here' | translate}}</a>
		</div>
	</div>
</form>