<section class="main-container buy-crypto">
	<div class="wrapper">
		<div class="verified-account" *ngIf="generalDocumentStatus !== 2"
				[appTranslate]="'buy-crypto-you-verified-account'" translateParams='{"link": "/platform/documents"}'></div>
		<div class="verified-account" *ngIf="!isPlatformActive">{{ 'error-DEPOSIT_STOPPED' | translate }}</div>
		<div class="buy-box">
			<form class="form" [formGroup]="form" (ngSubmit)="submit()">
				<section class="buy-crypto-steps">
					<div>
						<div class="step">{{'buy-crypto-step-1' | translate }}</div>
						<div class="step-description">{{'buy-crypto-select-coin' | translate}}</div>
					</div>

					<ul class="list">
						<li *ngFor="let market of marketList"
								[ngClass]="'market-' + market.symbol"
								[class.selected]="inp('market').value === market.pear"
							    (click)="selectMarket(market)">
							<div class="icon-box">
								<i></i>
								<!--<div class="eth-tooltip-wrapper">-->
									<!--<div class="eth-tooltip">-->
										<!--{{'buy-crypto-eth-tooltip' | translate }}-->
									<!--</div>-->
								<!--</div>-->
							</div>
							<div>{{ market.symbol }}</div>
						</li>
					</ul>
				</section>

				<section class="buy-crypto-steps">
					<div>
						<div class="step">{{'buy-crypto-step-2' | translate}}</div>
						<div class="step-description">{{'buy-crypto-select-payment-method' | translate}}</div>
					</div>

					<ul class="list">
						<li *ngFor="let method of paymentMethodsList"
								[ngClass]="'paymetnt-method-' + method.type"
								[class.selected]="inp('method').value === method.type"
								(click)="selectMethod(method)">
							<div class="icon-box">
								<i></i>
							</div>
							<div>{{ method.translation | translate }}</div>
							<span class="tooltip" *ngIf="!method.active">{{ 'coming-soon' | translate }}</span>
						</li>
					</ul>

					<div class="txt">
						{{'buy-crypto-select-payment-method-txt' | translate}}
					</div>
				</section>

				<section class="buy-crypto-steps">
					<div class="txt bank-wire-note">
						{{'buy-crypto-select-payment-method-txt-2' | translate}}
					</div>
					<div>
						<div class="step">{{'buy-crypto-step-3' | translate}}</div>
						<div class="step-description">{{'buy-crypto-select-amount' | translate}}<span class="red"> *</span></div>
					</div>

					<div class="select-amount">
						<div class="amount-box">
							<select class="select" name="client_currency" formControlName="client_currency" (change)="calcOutcome()">
								<option *ngFor="let type of currencyList" [ngValue]="type.name">{{ type.name }}</option>
							</select>
							<div class="_holder input-holder" [appSetErrorClass]="inp('original_amount')">
								<div class="default">
									<input class="input" type="text" name="original_amount" formControlName="original_amount"
											[appSetInputStates]="'_holder'" (keyup)="setActiveInput('fiat')" appRestrictFloat/>
								</div>
							</div>

						</div>
						<i class="approximately-icon"></i>
						<div class="amount-box">
							<div class="select coin">{{selectedMarket.symbol}}</div>
							<div class="_holder input-holder" [appSetErrorClass]="inp('quantity_client')">
								<div class="default">
									<input class="input" type="text" name="quantity_client" formControlName="quantity_client"
											[appSetInputStates]="'_holder'" (keyup)="setActiveInput('crypto')" appRestrictCrypto/>
								</div>
							</div>

						</div>
					</div>
					<div>
						<form-errors class="error-holder" [input]="inp('original_amount')"></form-errors>
						<form-errors class="error-holder" [input]="inp('quantity_client')"></form-errors>
					</div>
					<div class="txt red">
						*{{'buy-crypto-select-amount-txt' | translate}}
					</div>
				</section>

				<section class="buy-crypto-steps step-4">
					<div>
						<div class="step">{{'buy-crypto-step-4' | translate}}</div>
						<div class="step-description">
							<span [innerHTML]="'buy-crypto-transfer-coin' | translate: {coin: selectedMarket.symbol}"></span>
							<span class="tooltip-holder">
								i
								<div class="tooltip-wrapper">
									<div class="tooltip">
										<div [innerHTML]="'buy-crypto-transfer-tooltip' | translate: {'link': wp_url + 'legal-terms/'}"></div>
									</div>
								</div>
							</span>
						</div>
					</div>

					<div class="mt25">
						<div class="_holder" [appSetErrorClass]="inp('wallet')">
							<div class="default">
								<input class="input" type="text" name="wallet" formControlName="wallet" [appSetInputStates]="'_holder'"
								autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
								placeholder="{{ 'placeholder-wallet-address' | translate }}"/>
							</div>
							<form-errors class="error-holder" [input]="inp('wallet')"></form-errors>
						</div>
					</div>

					<form-errors class="server-error-holder mt10" [input]="form"></form-errors>

					<div class="button-holder">
						<button class="button type-5 check" [class.loading]="inAction" [disabled]="form.invalid || inAction || generalDocumentStatus !== 2">
							{{ submitButton | translate: {coin: selectedMarket.title} }}
						</button>
					</div>

					<div class="mt25" [hidden]="inp('method').value !== 'cardpay'">{{'buy-crypto-3-D-secure-processed' | translate}}</div>
				</section>
			</form>
		</div>

		<div class="order-details">
			<div class="heading">{{'buy-crypto-your-order' | translate}}</div>
			<div class="order-box">
				<div class="row">
					<div>{{'buy-crypto-you-selected-buy' | translate}}</div>
					<div>{{ selectedMarket.symbol }}</div>
				</div>
				<div class="row">
					<div>{{'payment-method' | translate}}</div>
					<div>{{ selectedPaymentMethod.translation | translate}}</div>
				</div>
				<div class="row">
					<div>{{'аvailable' | translate}}</div>
					<div>{{ selectedPaymentMethod.type === 'cardpay' ? 'Instant' : 'Up to 5 days' }}</div>
				</div>
				<div class="row">
					<div>{{'buy-crypto-transfer' | translate}}</div>
					<div class="wallet">{{ inp('wallet').value }}</div>
				</div>
				<div class="row">
					<!-- <div class="fee-box" *ngFor="let fee of selectedPaymentMethod.fees">
						<div>
							{{fee.name | translate}}
							<span class="tooltip-holder">
								!
								<div class="tooltip-wrapper">
									<div class="tooltip" [innerHTML]="fee.name + '-tooltip' | translate:{link: '#'}"></div>
								</div>
							</span>
						</div>
						<div>
							{{ fee.amount | currency: inp('client_currency').value }}
						</div>
					</div> -->
					<div class="total-box">
						<div>{{'total' | translate}}</div>
						<div>{{ amount | currency: inp('client_currency').value }}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<form [action]="cardPayUrl" method="POST" [formGroup]="formCardpay" (ngSubmit)="cardpaySubmit($event)">
	<input type="hidden" name="orderXML" id="orderXML"/>
	<input type="hidden" name="sha512" id="sha512"/>
	<button style="display:none;" id="checkoutSubmit"></button>
</form>
