<section class="main-container">
    <div class="wrapper">
        <div class="wrapper-2">
            <ul class="doc-nav">
                <li routerLinkActive="active" *ngFor="let tab of documentsList">
                    <a [routerLink]="tab.link | localize">
                        <i class="doc-icon" [ngClass]="tab.classIcon"></i>
                        <div>{{ tab.translation | translate }}</div>
                        <span [ngClass]="'doc-status-' + tab.status">({{'doc-status-' + tab.status | translate}})</span>
                    </a>
                </li>
                <li routerLinkActive="active" class="status-tab">
                    <a [routerLink]="'/platform/documents/status' | localize">
                        <i class="doc-icon status"></i>
                        <div>{{ 'status' | translate }}</div>
                    </a>
                </li>
            </ul>

            <router-outlet style="width:0;"></router-outlet>
        </div>
    </div>
</section>