<form class="form form-logout" [formGroup]="form" (ngSubmit)="submit()">
  <div class="row-block _holder" [appSetErrorClass]="inp('newPassword')">
    <div class="default">
      <input class="input" type="password" name="newPassword" formControlName="newPassword" [appSetInputStates]="'_holder'" [placeholder]="'password-placeholder' | translate" />
    </div>
    <form-errors class="error-holder" [input]="inp('newPassword')"></form-errors>
  </div>

  <form-errors class="server-error-holder" [input]="form"></form-errors>

  <div class="button-holder">
    <button class="button type-5 check" [class.loading]="inAction" [disabled]="form.invalid || inAction">
      {{'save' | translate}}
    </button>
  </div>
</form>