<section class="main-container">
	<div class="wrapper wrapper-1">
		<h1>{{ 'menu-sign-in' | translate }}</h1>

		<login-form (complete)="finishLogin($event)"></login-form>

		<a class="inv-api-orange-link" [routerLink]="'/forgot-password' | localize">{{ 'forgot-password-link' | translate }}</a>
	</div>
</section>