<section class="main-container edit-profile">
    <div class="wrapper">
        <div class="wrapper2">
            <h1>{{'edit-profile' | translate}}</h1>
            <div class="table">
                <div class="cell">
                    <div [hidden]="isChangePasswordFinished">
                        <div class="title">{{'change-password' | translate}}:</div>
                        <change-password-form (complete)="finishChangePassword($event)"></change-password-form>
                    </div>
                    <div class="thanks-message" [hidden]="!isChangePasswordFinished">
                        <i class="icon"></i>
                        <div>{{'personal-details-txt-update-password' | translate}}</div>
                    </div>
                </div>
                <div class="cell">
                    <div [hidden]="isChangePhoneFinished">
                        <div class="title">{{'change-phone' | translate}}:</div>
                        <change-phone-form (complete)="finishChangePhone($event)"></change-phone-form>
                    </div>
                    <div class="thanks-message" [hidden]="!isChangePhoneFinished">
                        <i class="icon"></i>
                        <div>{{'personal-details-txt-update-phone' | translate}}</div>
                    </div>
                </div>
            </div>
            <div class="bottom-holder" [innerHTML]="'personal-details-bottom-txt' | translate: {email: supportEmail}"></div>
        </div>
    </div>
</section>