/*CSS*/
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/*fix for the stupid material dialog*/
.cdk-global-overlay-wrapper {
    overflow: hidden;
    width: auto;
    height: auto;
    margin: auto;
    position: static;
}
.cdk-global-scrollblock{
    overflow: hidden;

    .cdk-overlay-container {
        overflow: auto;
        background: rgba(0,0,0,0.6);
        pointer-events: auto!important;
    }
}
.cdk-overlay-container {
    pointer-events: none!important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cdk-overlay-container .cdk-global-overlay-wrapper {
    display: none;
}
.cdk-overlay-container .cdk-global-overlay-wrapper:last-child {
    display: block;
}
.cdk-global-overlay-wrapper, .cdk-overlay-container {
    pointer-events: auto;
    align-items: baseline!important;
}
.cdk-overlay-pane {
    padding: 50px 0;
}
.cdk-overlay-dark-backdrop {
    background: transparent;
    width: calc(100% - 24px);
    position: fixed;
}

/*end of fix*/

/* Reset CSS Start*/
* {box-sizing: border-box;}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font: normal normal 300 13px/1.4 'Open Sans', sans-serif;
    color: #464646;
    background: #fff;
}
header,footer, nav, section, app-personal-info-view {
    display: block;
    width: 100%;
}
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
    transition: all 250ms;
    cursor: pointer;
    &:focus {
        outline: none;
    }
}
h1,p {margin: 0;}
/* Reset CSS End*/

/* Font Weight Regular:400 */
.fw400 {font-weight: 400;}
/* Font Weight Bold:700*/
.fw700 {font-weight: 700;}

.mt10 {margin-top:25px;}
.mt25 {margin-top:25px;}
.mt35 {margin-top:35px;}

.taC {text-align: center;}
.clickable {
    cursor: pointer;
}

/*Mixins Start*/
@mixin flex-box($flex-direction,$flex-wrap,$justify-content, $align-items) {
    display: flex;
    flex-direction: $flex-direction;
    flex-wrap: $flex-wrap;
    justify-content: $justify-content;
    align-items: $align-items;
}
/*Mixins End*/

/* Common classes Start*/
.wrapper {
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
    max-width: 1020px;
}
.is-drop-over {
    border: 1px dashed green;
}

/* Form Elements*/

/* Buttons */
.button {
    padding: 12px 15px;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    border: 0;
    border-radius: 5px;
    font: normal normal 700 18px/1 'Open Sans', sans-serif;
    color: #fff;
    background: rgb(255,115,1);
    cursor: pointer;
    transition: all 0.5s;
    &:focus {
        outline: none;
    }
    &:hover {
        background: rgb(255,135,38);
    }
    &:active {
        background: rgb(255,97,1);
    }
    &:disabled {
        color:#b7b6b4;
        background:#dedede;
        cursor: default;
    }
}
/* Input Start*/
.input {
    margin: 0;
    padding: 8px 10px;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    font: normal normal 300 13px/1.4 'Open Sans', sans-serif;
    background: #fff;
    color: #585858;
    &:focus {outline: none;}
    &:disabled {
        background: #f2f2f2;
    }
    &::-ms-clear,&::-ms-reveal {
        display: none;
    }
}
::-webkit-input-placeholder {font: normal normal 300 13px/1.4 'Open Sans', sans-serif;color: #909090;}
::-moz-placeholder {font: normal normal 300 13px/1.4 'Open Sans', sans-serif;color: #909090;}
:-ms-input-placeholder {font: normal normal 300 13px/1.4 'Open Sans', sans-serif;color: #909090;}
::placeholder {font: normal normal 300 13px/1.4 'Open Sans', sans-serif;color: #909090;}
/* Input End*/
/* Select */
.select {
    padding: 8px 25px 8px 10px;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font: normal normal 300 13px/1.4 'Open Sans', sans-serif;
    background-color: #fff;
    background-image: url('assets/img/select-arrow.png');
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
    color: #909090;
    &:focus {outline: none;}
    &:disabled { background-color: #f2f2f2;}
    &::-ms-expand {
        display: none;
    }
}

/* Password */
.password-holder {
    position: relative;
    .input {padding: 8px 40px 8px 10px;}
    .show-password {
        position: absolute;
        top: 35%;
        right: 15px;
        display: block;
        width: 16px;
        height: 10px;
        background: url('assets/img/password-eye.png') no-repeat;
        cursor: pointer;
    }
    & input[type="text"] + .show-password::before {
        content: '';
        position: absolute;
        top: 5px;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0 auto;
        display: inline-block;
        vertical-align: middle;
        width: 16px;
        height: 1px;
        background: #b2b3b5;
        transform: rotate(-45deg);
    }
    .password-restriction {
        position: absolute;
        top: -13px;
        right: 0;
        font-size: 9px;
        color: #bbbbbb;
    }
}

/* Checkbox */
.inv-api-checkbox-holder {
    margin-top: 15px;
    display: block;
    width: 100%;
}
.inv-api-checkbox-holder input[type="checkbox"] {display: none;}
.inv-api-checkbox {
    position: relative;
    margin-right: 5px;
    display: inline-block;
    vertical-align: top;
    width: 18px;
    height: 18px;
    border: 1px solid #cdcfd1;
    border-radius: 3px;
    background: #fff;
    transition: all 250ms;
    cursor: pointer;
}
.inv-api-checkbox:focus {outline: none;}
 .inv-api-checkbox::before,
 .inv-api-checkbox::after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 2px;
    border-radius: 1px;
    background: #ff7301;
}
.inv-api-checkbox::before {
    top: 9px;
    left: 1px;
    transform: rotate(45deg);
}
.inv-api-checkbox::after {
    top: 7px;
    left: 4px;
    transform: rotate(-45deg);
}
.inv-api-checkbox-holder input[type="checkbox"]:checked +  .inv-api-checkbox {
	background-color: #f2f2f2;
	&::before {
		width: 6px;
		transition: 0.28s;
	}
	&::after {
		width: 12px;
		transition: 0.28s;
		transition-delay: 0.12s;
	}
}
.inv-api-checkbox-txt {
    display: inline-block;
    width: 89%;
    font-size: 12px;
    color: #545454;
}
.inv-api-checkbox-txt a {
    color: #ff7301;
    transition: all 250ms;
}
.inv-api-checkbox-txt a:hover {color: #545454;}
.inv-api-orange-link {
    margin-top: 20px;
    display: block;
    font-size: 13px;
    color: #ff7301;
    text-align: center;
    text-decoration: underline;
    transition: all 250ms;
    cursor: pointer;
}
.inv-api-orange-link:hover {text-decoration: none;}

/* Captcha */
.inv-api-captcha-holder {
    margin-top: 30px;
    display: block;
    & > div {margin: 0 auto;}
}
/* simple upload */
.simple-table {
    display: table;
    & > * {
        display: table-cell!important;
    }
}
.simple-browse {
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    width: 100%!important;
    display: block;
    padding: 2px;
    .simple-button {
        background: #f2f2f2;
        border: 1px solid #bfbfbf;
        border-radius: 5px;
        color: #585858;
        display: inline-block;
        padding: 5px 10px;
        width: 70px;
        text-align: center;
        vertical-align: middle;
    }
    .simple-value {
        padding: 0 10px;
        display: inline-block;
        width: calc(100% - 74px);
        max-width: calc(100% - 74px);
        vertical-align: middle;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
.additional-text {
    padding-left: 10px;
}
/* Errors Start*/
.error-holder {
    position: relative;
    display: block;
    span {
        span {
            position: absolute;
            top: 2px;
            left: 0;
            // top: 3px;
            display: inline-block;
            vertical-align: middle;
            font-size: 11px;
            line-height: 1;
            // font-size: 12px;
            color: #ff7301;
            &::before {
                content: '*';
                margin-right: 5px;
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
}
.incorrect {
    .input,.select {
        border-color: #ff7301;
        background-color: #fff99d;
    }
}
.server-error-holder {
    display: block;
    span {
        span {
            padding: 5px 0;
            display: inline-block;
            vertical-align: middle;
            font-size: 12px;
            color: #ff7301;
            &::before {
                content: '*';
                margin-right: 5px;
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
}
/* Errors End*/

/* Captcha */
.inv-api-captcha-holder {
    > div {margin: 0 auto;}
}

/* Tooltip Start*/
.tooltip-holder {
    position: relative;
    padding: 0 6.1px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #f67b16;
    border-radius: 100%;
    font-size: 12px;
    font-weight: 700;
    color: #f67b16;
    cursor: pointer;
    &:hover {
        .tooltip {display: block;}
    }
    .tooltip-wrapper {
        padding-left: 20px;
        position: absolute;
        top: 0;
        left: 0;
    }
    .tooltip {
        position: relative;
        padding: 10px 15px;
        top: 3px;
        left: 10px;
        border-radius: 0 5px 5px 5px;
        display: none;
        width: 215px;
        font-size: 13px;
        font-weight: 300;
        color: #000;
        background: #efefef;
        box-shadow: 1px 3px 8px 0px rgba(0, 0, 0, 0.52);
        z-index: 5;
        a {
            color: #f67b16;
            &:hover {color: #000;}
        }
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: -8px;
            display: block;
            width: 8px;
            height: 16px;
            background: url('assets/img/tooltip-arrow.png') no-repeat;
        }
    }
}
/* Tooltip End*/

/* PopUps Start*/
.mat-dialog-container {
    padding: 0!important;
    border-radius: 5px!important;
}
.popUp-container {
    position: relative;
    padding: 25px 40px;
    max-width: 570px;
    font-size: 14px;
    color: #000;
    background: #fff;
    &.desposit-bank-wire {
        max-width: 565px;
        background: #dae4e9;
        p + p {margin-top: 20px;}
        a {
            color: #000;
            text-decoration: underline;
            &:hover {
                color: #ff7301;
                text-decoration: none;
            }
        }
        .bank-wire-info {
            margin: 20px 0;
            padding: 15px 30px;
            background: #fff;
            .row + .row {margin-top: 20px;}
        }
        .account-information-box {
            @include flex-box(row,nowrap,flex-start, center);
            > div:last-child {margin-left: 30px;}
        }
        .button-holder {
            margin-top: 30px;
            text-align: right;
            .button {width: 31%;}
        }
    }
    &.deposit-3d {
        padding: 30px 30px 20px;
        .top-box {
            position: relative;
            margin-bottom: 20px;
            padding: 0 0 15px 80px;
            border-bottom: 1px solid #e2e2e2;
            &::before {
                content:'';
                position: absolute;
                left: 0;
                display: inline-block;
                vertical-align: middle;
                width: 60px;
                height: 58px;
                background: url('assets/img/sprite-deposit-icons.png') 0 -338px no-repeat;
            }
        }
        .heading {
            margin-bottom: 0;
            font-size: 18px;
            font-weight: 400;
        }
    }
    &.deposit-3d-success {
        @include flex-box(row,nowrap,center,center);
        width: 500px;
        min-height: 400px;
        > div {
            font-size: 20px;
            font-weight: 700;
            .icon {
                margin: 0 auto 25px;
                display: block;
                width: 60px;
                height: 58px;
                background: url('assets/img/sprite-deposit-icons.png') 0 -338px no-repeat;
            }
        }
    }
    &.verify-email {
        color: #232323;
        h1 {
            margin: 25px 0 10px;
            font-size: 18px;
            font-weight: 300;
            text-transform: uppercase;
            text-align: center;
        }
        h2 {
            margin: 0 0 10px;
            font-size: 18px;
            font-weight: 300;
            text-transform: uppercase;
        }
        .sub-heading {
            margin-bottom: 50px;
            padding: 0 50px;;
            text-align: center;
        }
        .sub-heading-box {
            margin-bottom: 15px;
            font-size: 17px;
        }
        .confirm-password {
            margin: 15px auto 0;
            display: block;
            width: 65px;
            height: 65px;
            background: url('assets/img/confirm-password.png') no-repeat;
        }
        .box {
            position: relative;
            padding: 20px 15px 25px;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            min-height: 225px;
            text-align: center;
            background: #f4f4f4;
        }
        p {
            & + p {margin-top: 15px;}
            &::before {
                content: '';
                 margin: 0 5px 5px 0;
                 display: inline-block;
                 vertical-align: middle;
                 width: 15px;
                 height: 13px;
                 background: url('assets/img/green-check.png') no-repeat;
            }
        }
        a {
            color: #ff7301;
            &:hover {color: #232323;}
        }
    }
    .close-icon {
        position: absolute;
        top: 15px;
        right: 15px;
        display: block;
        width: 14px;
        height: 14px;
        cursor: pointer;
        &::before, &::after {
            content: '';
            position: absolute;
            top: 7px;
            left: -2px;
            display: block;
            width: 18px;
            height: 2px;
            background: #000;
        }
        &::before {
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        &::after {
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
    }
}
/* PopUps End*/

.form {
    label {
        font-size: 14px;
    }
    .row-block + .row-block {
        margin-top: 15px;
    }
}
.form-logout {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 350px;
    .row-block + .row-block {margin-top: 30px;}
    .button-holder {margin-top: 30px;}
}
.main-container {
    padding: 30px 20px 50px;
    background: #464646;
    .wrapper {
        padding: 0;
        max-width: 980px;
        border-radius: 5px;
        background: #fff;
        &.wrapper-1 {
            padding: 30px 0 50px;
            h1 {
                margin-bottom: 20px;
                font-size: 28px;
                font-weight: 300;
                text-transform: uppercase;
                text-align: center;
            }
        }
        .wrapper-2 {
            width: 100%;
            display:table;
            & > router-outlet {
                display: none;
            }
            & > *:not(.doc-nav):not(router-outlet) {
                display: table-cell;
                padding: 35px 5%;
                border-radius: 5px;
                box-shadow: 0px 3px 23.76px 0.24px rgba(42, 42, 42, 0.45);
                width: calc(100% - 180px);
            }
        }
        .doc-nav {
            display: table-cell;
            vertical-align: top;
            width: 180px;
            min-width: 180px;
            border-radius: 5px 0 0 5px;
            background: #ebebeb;
            li {
                position: relative;
                width: 100%;
                // min-height: 170px;
                text-align: center;
                & + li {
                   border-top:1px solid #dbdbdb;
                }
                &::after {
                    content: '';
                    position: absolute;
                    right: 0;
                    bottom: -14px;
                    left: 0;
                    margin: 0 auto;
                    display: block;
                    width: 22px;
                    height: 14px;
                    background: url('assets/img/documents/arrow-down-dark-grey.png') no-repeat;
                    z-index: 2;
                }
                &.status-tab {
                    min-height: 180px;
                }
                &.active {
                    background: #2876bf;
                    a,.doc-status--1,.doc-status--2,
                    .doc-status-1, .doc-status-2, .doc-status-3 {color: #fff;}
                    .personal-info {background-position: -34px 0;}
                    .proof-of-id {background-position: 0 -86px;}
                    .selfie {background-position: 0 -173px;}
                    .proof-of-residence {background-position: -38px -217px;}
                    .status {background-position: 0 -522px;}
                    &::before {
                        content: '';
                        position: absolute;
                        top: -1px;;
                        right: 0;
                        left: 0;
                        margin: 0 auto;
                        display: block;
                        width: 22px;
                        height: 14px;
                        background: url('assets/img/documents/arrow-down-light-grey.png') no-repeat;
                        z-index: 2;
                    }
                    &::after {background: url('assets/img/documents/arrow-down-blue.png') no-repeat;}
                }
                &:first-child {
                    &.active {
                        border-radius: 5px 0 0 0;
                        &::before {display: none;}
                    }
                }
                &:last-child {
                    &.active {
                        border-radius: 0 0 0 5px;
                        &::after {display: none;}
                    }
                    &::after {display: none;}
                }
               a {
                    padding: 45px 10px;
                    display: block;
                    color: #454545;
                    font-size: 14px;
                    font-weight: 400;
                    span {
                        margin-top: 5px;
                        display: block;
                        font-size: 12px;
                        font-weight: 300;
                    }
               }
            }
            .doc-icon {
                margin: 0 auto 5px;
                display: block;
                background: url('/assets/img/documents/sprite-docs-icons.png') 0 0 no-repeat;
                &.personal-info {
                    width: 29px;
                    height: 39px;
                }
                &.proof-of-id {
                    width: 53px;
                    height: 37px;
                    background-position: 0 -44px;
                }
                &.selfie {
                    width: 73px;
                    height: 39px;
                    background-position: 0 -128px;
                }
                &.proof-of-residence {
                    width: 33px;
                    height: 46px;
                    background-position: 0 -217px;
                }
                &.status {
                    width: 50px;
                    height: 50px;
                    background-position: 0 -467px;
                }
            }
            .doc-status--1 {color: #454545;}
            .doc-status--2 {color: #fc2a29;}
            .doc-status-1 {color: #f4a40a;}
            .doc-status-2, .doc-status-3 {color: #75cbb8;}
        }
        .doc-box {
            min-height: 630px;
            // min-height: 594px;
            color: #585858;
            h1 {
                margin-bottom: 15px;
                font-size: 18px;
                font-weight: 700;
            }
            .sub-heading {
                margin-bottom: 20px;
                font-size: 14px;
            }
            p + p {margin-top: 8px;}
            .button-holder {
                margin-top: 50px;
                display: inline-block;
                text-align: center;
                .button {
                    min-width: 225px;
                    padding: 15px;
                    width: auto;
                }
                .bottom-holder {
                    margin-top: 20px;
                    font-size: 14px;
                    a {
                        margin-left: 10px;
                        display: inline-block;
                        color: #2875bd;
                        text-decoration: underline;
                        &:hover {text-decoration: none;}
                    }
                }
            }

            .personal-info {
                max-width: 436px;
                // max-width: 480px;
                .row-block {
                    @include flex-box(row,nowrap,flex-start, center);
                    width: 100%;
                    .label {width: 105px;}
                    div + div {margin-left: 15px;}
                    .col-block {width: calc(100% - 105px);}
                    .item {
                        flex-grow: 1;
					}
					.inv-api-checkbox-holder {
						width: auto;
						margin-top: 0;
						.inv-api-checkbox-txt {
							width: auto;
						}
					}
                }
                .date-of-birth-holder{
                    div {
                        display: inline-block;
                        vertical-align: middle;
                        & + div {margin-left: 12px;}
                        .select {width: 100px;}
                    }
                }
                // .col-block {width: 331px;}
                .smaller-box {width: 75px;}
                // .bigger-box {width: 241px;}
                .button-holder {margin-left: 105px; margin-top: 15px;}
                .error-holder span span {top: 2px;font-size: 11px;}
            }
            .doc-form {
                margin-top: 25px;
                .select {max-width: 220px;}
                // .button-holder {
                //     margin-top: 35px;
                //     text-align: left;
                // }
            }
            .doc-upload-wrap {
                @include flex-box(row,wrap,flex-start, center);
                .doc-upload-box {
                    margin-top: 25px;
                    padding: 30px 20px;
                    border: 1px solid #bfbfbf;
                    border-radius: 5px;
                    @include flex-box(column,nowrap,center, center);
                    width: 290px;
                    // width: 31.5%;
                    text-align: center;
                    background: #f9f8f8;
                    > div {width:100%;}
                    & + .doc-upload-box {margin-left: 10px;}
                    .icon {
                        margin: 0 auto;
                        display: block;
                        background: url('assets/img/documents/sprite-docs-icons.png') 0 0 no-repeat;
                        &.front {
                            margin-bottom: 5px;
                            width: 43px;
                            height: 30px;
                            background-position: 0 -302px;
                        }
                        &.back {
                            margin-bottom: 5px;
                            width: 44px;
                            height: 30px;
                            background-position: 0 -338px;
                        }
                        &.cover {
                            margin-bottom: 5px;
                            width: 44px;
                            height: 30px;
                            background-position: 0 -578px;
                        }
                        &.delete-file {
                            margin: 0 0 0 10px;
                            display: inline-block;
                            vertical-align: middle;
                            width: 15px;
                            height:  21px;
                            background-position: -39px -268px;
                            cursor: pointer;
                        }
                        &.upload-file-status-1, &.upload-file-status-2 {
                            margin-top: 20px;
                            width: 54px;
                            height: 42px;
                            background-position: 0 -374px;
                        }
                        &.upload-file-status-3 {
                            margin-top: 20px;
                            width: 39px;
                            height: 39px;
                            background-position: 0 -422px;
                        }
                    }
                    .title {
                        margin-bottom: 15px;
                        font-size: 16px;
                        font-weight: 700;
                        text-transform: uppercase;
                    }
                    label {
                        padding: 10px;
                        border: 1px solid #bababa;
                        border-radius: 5px;
                        display: block;
                        // width: 100%;
                        font-size: 14px;
                        color: #464646;
                        background: #c2d7e3;
                        cursor: pointer;
                        &::before {
                            content: '';
                            margin-right: 10px;
                            display: inline-block;
                            vertical-align: middle;
                            width: 36px;
                            height: 28px;
                            background: url('assets/img/documents/upload-doc-icon.png') no-repeat;
                        }
                        &.inactive {
                            cursor: default;
                        }
                    }
                    .upload-file-holder {
                        padding: 13.5px 10px;
                        border: 1px solid #bababa;
                        border-radius: 5px;
                        width: 100%;
                        text-align: left;
                        color: #000;
                        background: #fff;
                        .file-name {
                            display: inline-block;
                            vertical-align: middle;
                            width: calc(100% - 30px);
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            &::before {
                                content: '';
                                margin-right: 5px;
                                display: inline-block;
                                vertical-align: middle;
                                width: 12px;
                                height: 16px;
                                background: url('assets/img/documents/file-icon.png') no-repeat;
                            }
                        }
                        &.incorrect {
                            border-color: #ff7301;
                            background: #fff99d;
                        }
                    }
                }
            }
            &.thank-you-page {
                @include flex-box(column,nowrap,center, center);
                font-size: 16px;
                h1 {
                    margin-bottom: 10px;
                    font-size: 38px;
                    text-transform: uppercase;
                }
                .doc-status-list {
                    margin-top: 20px;
                    padding: 25px 0;
                    border: 1px solid #e8e8e8;
                    border-radius: 5px;
                    @include flex-box(row,nowrap,flex-start, center);
                    max-width: 680px;
                    li {
                        padding: 0 15px;
                        width: 170px;
                        & + li {border-left: 1px solid #c4c4c4;}
                    }
                    .doc-icon {
                        margin: 0 auto 10px;
                        display: block;
                        background: url('/assets/img/documents/sprite-docs-icons.png') 0 0 no-repeat;
                        &.personal-info {
                            margin-top: 10px;
                            width: 29px;
                            height: 39px;
                        }
                        &.proof-of-id {
                            margin-top: 13px;
                            width: 53px;
                            height: 37px;
                            background-position: 0 -44px;
                        }
                        &.selfie {
                            margin-top: 10px;
                            width: 73px;
                            height: 39px;
                            background-position: 0 -128px;
                        }
                        &.proof-of-residence {
                            margin-top: 4px;
                            width: 33px;
                            height: 46px;
                            background-position: 0 -217px;
                        }
                    }
                    .title {
                        margin-bottom: 15px;
                        font-size: 14px;
                        font-weight: 400;
                        text-align: center;
                        color: #000;
                    }
                    a {
                        padding: 6px 2px;
                        border: 1px solid;
                        border-radius: 5px;
                        display: block;
                        font-size: 14px;
                        text-align: center;
                        &.doc-status--1,&.doc-status--1:hover {color: #454545; border-color: #454545;}
                        &.doc-status--2,&.doc-status--2:hover {color: #fc2a29; border-color: #fc2a29;}
                        &.doc-status-1,&.doc-status-1:hover {color: #f4a40a;border-color: #f4a40a;}
                        &.doc-status-2,&.doc-status-2:hover,
                        &.doc-status-3,&.doc-status-3:hover {color: #75cbb8;border-color: #6df1d5;}
                    }
                }
            }
            &.proof-of-id {
                .doc-upload-wrap .doc-upload-box {
                    min-height: 246px;
                }
                .button-holder {
                    margin-top: 35px;
                    margin-left: 27%;
                }
            }
            &.selfie {
                .doc-upload-wrap .doc-upload-box {
                    min-height: 174px;
                    .icon.front {
                        margin-bottom: 20px;
                    }
                }
            }
            &.proof-of-residence {
                .doc-upload-wrap .doc-upload-box {
                    min-height: 174px;
                }
            }
        }
    }
}

.buy-crypto {
    .wrapper {
        position: relative;
        // padding: 50px 50px 20px;
        padding: 30px 40px 15px;
        @include flex-box(row,nowrap,space-between, flex-start);
    }
    .verified-account {
        position: absolute;
        top: 0;
        right: 0;
        left:0;
        margin: 0 auto;
        padding: 7px;
        // padding: 10px;
        border-radius: 5px 5px 0 0;
        width: 100%;
        background: #ebebeb;
        text-align: center;
        font-size: 12px;
        // font-size: 14px;
        font-weight: 700;
        color: #ff0000;
        a {
            cursor: pointer;
            text-decoration: underline;
        }
    }
    .form {
        padding-right: 10px;
        max-width: 475px;
        // max-width: 440px;
        // max-width: 560px;
    }
    .buy-crypto-steps {
        padding: 20px 20px 15px 0;
        // padding: 35px 20px 35px 0;
        & + .buy-crypto-steps {
            border-top: 1px solid #dbdbdb;
        }
        &.step-4 {
            .coins {
                padding: 15px 0;
                font-size: 14px;
                color: #010000;
            }
            .input {
                width: 54%;
             }
        }
        .step {
            position: relative;
            margin-right: 24px;
            padding: 5px 22px 5px 27px;
            // padding: 10px 25px 10px 30px;
            display: inline-block;
            vertical-align: middle;
            font-size: 14px;
            // font-size: 18px;
            text-transform: uppercase;
            color: #393939;
            background: #b8d7e9;
            z-index: 2;
            &::after {
                content: '';
                position: absolute;
                top: 4px;
                // top: 7px;
                right: -11px;
                // right: -16px;
                display: inline-block;
                vertical-align: middle;
                width: 21px;
                // width: 31px;
                height: 21px;
                // height: 31px;
                background: #b8d7e9;
                transform: rotate(45deg);
                z-index: 1;
            }
        }
        .step-description {
            display: inline-block;
            vertical-align: middle;
            font-size: 14px;
            // font-size: 15px;
            color: #000;
            .red {color: #ff0000;}
        }
        .list {
            margin-top: 20px;
            // margin-top: 35px;
            li {
                display: inline-block;
                vertical-align: middle;
                width: 85px;
                // width: 105px;
                font-size: 13px;
                // font-size: 14px;
                // font-size: 15px;
                font-weight: 400;
                text-align: center;
                color: #000;
                transition: all 250ms;
                cursor: pointer;
                position: relative;
                & + li {margin-left: 30px;}
                .icon-box {
                    position: relative;
                    margin: 0 auto 5px;
                    padding-bottom: 7px;
                    // padding-bottom: 10px;
                    display:inline-block;
                    vertical-align: middle;
                    border-bottom: 4px solid #c1c1c1;
                    width: 100%;
                    min-height: 55px;
                    // min-height: 70px;
                    &::after {
                        content: '';
                        position: absolute;
                        right: 0;
                        bottom: -3px;
                        left: 0;
                        margin: 0 auto;
                        display: inline-block;
                        width: 6px;
                        height: 6px;
                        background: #c1c1c1;
                        transform: rotate(45deg);
                    }
                    > i {
                        display: inline-block;
                        vertical-align: middle;
                        background: url('assets/img/sprite-deposit-icons.png') 0 0 no-repeat;
                    }
                    .eth-tooltip-wrapper {
                        position: absolute;
                        top: 0;
                        left: 55px;
                        display: none;
                        .eth-tooltip {
                            position: relative;
                            padding: 10px 15px;
                            top: 3px;
                            left: 10px;
                            border-radius: 0 5px 5px 5px;
                            width: 210px;
                            font-size: 13px;
                            font-weight: 300;
                            text-align: left;
                            color: #000;
                            background: #efefef;
                            box-shadow: 1px 3px 8px 0px rgba(0, 0, 0, 0.52);
                            z-index: 5;
                            &::before {
                                content: '';
                                position: absolute;
                                top: 0;
                                left: -8px;
                                display: block;
                                width: 8px;
                                height: 16px;
                                background: url('assets/img/tooltip-arrow.png') no-repeat;
                            }
                        }
                    }
                }
                .tooltip {
                    position: absolute;
                    padding: 10px 15px;
                    top: 59px;
                    left: -23px;
                    border-radius: 5px;
                    display: none;
                    min-width: 135px;
                    font-size: 13px;
                    font-weight: 300;
                    color: #000;
                    background: #efefef;
                    -webkit-box-shadow: 1px 3px 8px 0px rgba(0, 0, 0, 0.52);
                    box-shadow: 1px 3px 8px 0px rgba(0, 0, 0, 0.52);
                    z-index: 5;
                }
                &:hover .tooltip {
                    display: block;
                }
                &.selected {
                    .icon-box {
                        border-bottom-color: #f67b16;
                        &::after {
                            background: #f67b16;
                        }
                    }
                }
                &.market-BTC {
                    .icon-box > i {
                        width: 41px;
                        // width: 53px;
                        height: 40px;
                        // height: 52px;
                    }
                    &.selected .icon-box > i {background-position: 0 -45px;}
                }
                &.market-ETH {
                    .icon-box > i {
                        width: 29px;
                        // width: 36px;
                        height: 44px;
                        // height: 54px;
                        background-position: 0 -90px;
                    }
                    //.icon-box:hover {.eth-tooltip-wrapper {display: block;}}
                    &.selected .icon-box > i {background-position: 0 -139px;}
                }
                &.paymetnt-method-bank_transfer {
                    .icon-box > i {
                        width: 40px;
                        // width: 50px;
                        height: 40px;
                        // height: 50px;
                        background-position: 0 -188px;
                    }
                    &.selected .icon-box > i {background-position: 0 -233px;}
                }
                &.paymetnt-method-cardpay {
                    .icon-box > i {
                        margin-top: 12px;
                        width: 40px;
                        // width: 50px;
                        height: 25px;
                        // height: 31px;
                        background-position: 0 -278px;
                    }
                    &.selected .icon-box > i {background-position: 0 -308px;}
                }
            }

        }
        .txt {
            margin-top: 10px;
            font-size: 11px;
            &.red {
                margin-top: 20px;
                color: #ff0000;
            }
            &.bank-wire-note {
                margin: 0 0 20px;
            }
        }
        .checkout-deposit-form {
            margin: 20px 0 10px;
            max-width: 400px;
            .row-block + .row-block {margin-top: 25px;}
            .card-info-box {
                @include flex-box(row,nowrap,space-between, center);
                div + div {margin-left: 20px;}
            }
        }
        .amount-box {
            position: relative;
            margin-top: 25px;
            display: inline-block;
            vertical-align: middle;
            max-width: 170px;
            // max-width: 210px;
            .select,.coin {
                position: absolute;
                left: 0;
                width: 80px;
                border-color: #01284a;
                color: #ffffff;

            }
            .select {
                height: 36px;
                background-color: #01284a;
                background-image: url('assets/img/select-arrow-white.png');
                &:disabled {
                    background-image: none;
                    text-align: center;
                }
            }
            .coin {
                padding: 8px 12px;
                text-align: center;
                background: #01284a;
            }
            .input-holder {
                margin-left: 75px;
                // margin-left: 95px;
                display: inline-block;
                vertical-align: middle;
                .input {
                    text-align: center;
                    color: #010000;
                }
            }
        }
        .approximately-icon {
            margin: 25px 15px 0;
            display: inline-block;
            vertical-align: middle;
            width: 21px;
            // width: 26px;
            height: 13px;
            // height: 17px;
            background: url('assets/img/sprite-deposit-icons.png') -47px 0 no-repeat;
        }
        .button-holder {
            margin-top: 20px;
            // margin-top: 40px;
            text-align: left;
            .button {width: 66%;}
        }
    }
    .order-details {
        margin-left: 30px;
        width: 380px;
        // width: 420px;
        // width: 460px;
        .heading {
            padding: 20px 0 10px;
            // padding: 35px 0 10px;
            font-size: 18px;
            color: #ff7301;
            font-weight: 700;
            text-transform: uppercase;
        }
        .order-box {
            padding: 5px 15px 20px;
            // padding: 5px 15px 35px;
            border: 1px solid #dbdbdb;
            border-radius: 5px;
            font-size: 14px;
            color: #000;
            background: #e2eff6;
            .row {
                padding: 20px 0 15px;
                & + .row {border-top: 1px solid #dbdbdb;}
                div + div {margin-top: 10px;}
                div:last-child {font-weight: 400;}
            }
            .wallet {
                overflow: hidden;
                word-wrap: break-word;
            }
            .tooltip-holder {
                // margin-left: 5px;
                padding: 0px 4.5px;
                vertical-align: top;
                font-size: 11px;
                line-height: 12px;
                .tooltip {top: 3px;line-height:1.2}
            }
            .fee-box, .total-box {
                > div {
                    display:inline-block;
                    &:first-child {width: 120px;}
                }
            }
            // .fee-box {
            //     > div:last-child {font-weight: 400;}
            // }
            .total-box {
                font-size: 22px;
                // font-size: 25px;
                font-weight: 400;
            }
        }
    }
}
.orders-page {
    .wrapper {
        min-height: 580px;
        .wrapper2 {
            padding: 50px 40px 35px;
            display: block;
            width: 100%;
            .holder + .holder {margin-top: 15px;}
            .header-holder {
                margin-bottom: 15px;
                @include flex-box(row,nowrap,space-between, center);
                h1 {
                    font-size: 18px;
                    font-weight: 700;
                }
                .icons-box {
                    li {
                        padding: 0 10px;
                        display: inline-block;
                        vertical-align: middle;
                        & + li {border-left: 1px solid #a8afb1;}
                    }
                    .icon {
                        display: inline-block;
                        vertical-align: middle;
                        background: url('assets/img/sprite-small-icons.png') 0 0 no-repeat;
                        cursor: pointer;
                        &.export {

                            width: 27px;
                            height: 28px;
                        }
                        &.print {
                            width: 22px;
                            height: 23px;
                            background-position: 0 -33px;
                        }
                    }
                }
            }
            .table-wrapper {
                overflow: auto;
                & + .table-wrapper {margin-top: 30px;}
                .row + .row {margin-top: 5px;}
                .box {
                    @include flex-box(row,nowrap,flex-start, center);
                    border: 1px solid #c5c5c5;
                    border-radius: 5px;
                    width: 100%;
                    height: 50px;
                    min-width: 760px;
                    background: #f4f4f4;
                    &.table-header {
                        font-size: 14px;
                        font-weight: 700;
                        color: #fff;
                        background: #464646;
                    }
                    &.open {
                        border-width: 2px 2px 0 2px;
                        border-radius: 5px 5px 0 0;
                        .status-arrow {
                            transform: rotate(90deg);
                        }
                    }
                }
                .col {
                    width: 11.11%;
                    text-align: center;
                }
                .date-cell {width: 140px;}
                .status-cell {width: 200px;}
                .status {
                    padding: 5px 2px;
                    border: 1px solid #c5c5c5;
                    border-radius: 5px;
                    display: inline-block;
                    vertical-align: middle;
                    width: 140px;
                    &.order-status-2 {
                        background: #fff1f1;
                        &::before {
                            content: '';
                            margin-right: 5px;
                            display: inline-block;
                            vertical-align: middle;
                            width: 6px;
                            height: 14px;
                            background: url('assets/img/sprite-small-icons.png') -15px -61px no-repeat;
                        }
                    }
                }
                .status-arrow {
                    margin-left: 5px;
                    display: inline-block;
                    vertical-align: middle;
                    width: 9px;
                    height: 14px;
                    background: url('assets/img/arrow-orders-page.png') no-repeat;
                    cursor: pointer;
                    transition: all 250ms;
                }
                .open-order-holder {
                    padding: 0 10px 20px;
                    border: solid #c5c5c5;
                    border-width: 0 2px 2px 2px;
                    border-radius: 0 0 5px 5px;
                    width: 100%;
                    min-width: 760px;
                    background: #f4f4f4;
                    .open-box {
                        padding: 15px 20px 0;
                        border-top: 1px solid #c5c5c5;
                        @include flex-box(row,nowrap,space-between, flex-start);

                    }
                    .transaction-info {
                        width: 340px;
                        div {
                            padding: 10px 0;
                            span {
                                font-size: 14px;
                                font-weight: 400;
                            }
                            & + div {border-top: 1px solid #c8c8c8;}
                        }
                    }
                    .bank-wire-info {
                        text-align: center;
                        .warning-message-box {
                            margin-bottom: 10px;
                            width: 380px;
                            padding: 20px;
                            border: 1px solid #c5c5c5;
                            border-radius: 5px;
                            font-size: 14px;
                            color: #ff0000;
                            background: #fff1f1;
                            .warning-message {
                                display: inline-block;
                                vertical-align: middle;
                                > span {
                                    margin: 0 10px;
                                    display: inline-block;
                                    vertical-align: middle;
                                    width: 80%;
                                    text-align: left;
                                }
                            }
                            .warning-message::before {
                                content: '';
                                display: inline-block;
                                vertical-align: middle;
                                width: 14px;
                                height: 34px;
                                background: url('assets/img/sprite-small-icons.png') 0 -107px no-repeat;
                            }
                            .upload-doc {
                                display: inline-block;
                                vertical-align: bottom;
                                width: 26px;
                                height: 21px;
                                background: url('assets/img/sprite-small-icons.png') 0 -146px no-repeat;
                                cursor: pointer;
                            }
                        }
                        .bank-wire-details {
                            padding: 5px 15px;
                            border: 1px solid #c5c5c5;
                            border-radius: 5px;
                            display: inline-block;
                            vertical-align: middle;
                            text-align: center;
                            background: #fff;
                            cursor: pointer;
                            &::before {
                                content: '';
                                margin-right: 10px;
                                display: inline-block;
                                vertical-align: middle;
                                width: 24px;
                                height: 22px;
                                background: url('assets/img/sprite-small-icons.png') 0 -80px no-repeat;
                            }
                        }
                    }
                }

                .table-footer {
                    margin-top: 5px;
                    font-size: 11px;
                    color: #ff0000;
                }
                .empty-table {
                    .box {
                        padding: 0 10px;
                        flex-direction: column;
                        min-width: 100%;
                        min-height: 330px;
                        font-size: 20px;
                        text-align: center;
                        color: #5b5b5b;
                        a {
                            color: #ff9000;
                            text-decoration: underline;
                            &:hover {text-decoration: none;}
                        }
                    }
                    .icon {
                        margin: 80px 0 50px;
                        display: block;
                        width: 80px;
                        height: 56px;
                        background: url('assets/img/drop-box.png') no-repeat;
                    }
                }
            }
            .pagination-holder {
                margin-top: 25px;
                text-align: center;
                span {
                    display: inline-block;
                    vertical-align: middle;
                    cursor: pointer;
                }
                .pagination {
                    margin: 0 10px;
                    display: inline-block;
                    vertical-align: middle;
                    li {
                        padding: 0 5px;
                        display: inline-block;
                        vertical-align: middle;
                        text-decoration: underline;
                        cursor: pointer;
                        &.active {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }

}
.support-page {
    .wrapper {
        min-height: 595px;
        .wrapper2 {
            padding: 50px 45px;
            display: table;
            width: 100%;
            font-size: 15px;
        }
        .box {
            width: 50%;
            display: table-cell;
            vertical-align: top;
            &:first-child{padding-right: 8%;}
            &:last-child{padding-left: 8%;}
            & + .box {border-left: 1px solid #e8e8e8;}
            h1 {
                margin-bottom: 15px;
                font-size: 18px;
                font-weight: 300;
                text-transform: uppercase;
                color: #06101d;
            }
            .form {
                max-width: 392px;
                .phone-box {
                    display: table;
                    width: 100%;
                    > div {
                        display: table-cell;
                        vertical-align: middle;
                        width: 50%;
                        & + div {padding-left: 10px;}
                    }
                }
                .text-area {
                    max-width: 394px;
                    min-height: 160px;
                }
                .button-holder {
                    margin-top: 20px;
                }
                .row-block + .row-block {margin-top: 30px;}
            }
            &.contact-us {
                div {
                    width: 100%;
                    & + div {margin-top: 25px;}
                    > span {
                        display: inline-block;
                        vertical-align: top;
                        width: calc(100% - 40px);
                    }
                }
                a {
                    color: #ff7301;
                    text-decoration: underline;
                    &:hover {
                        color: #464646;
                        text-decoration: none;
                    }
                }
                .grey-box {
                    padding: 15px 20px;
                    background: #ededed;
                }
                .icon {
                    position: relative;
                }
                .icon::before {
                    content: '';
                    margin-right: 15px;
                    display: inline-block;
                    vertical-align: middle;
                    background: url('assets/img/sprite-support-page-icons.png') 0 0 no-repeat;

                }
                .working-time::before {
                    width: 19px;
                    height: 19px;
                }
                .email::before {
                    width: 20px;
                    height: 14px;
                    background-position: 0 -24px;
                }
                .phone::before {
                    width: 20px;
                    height: 18px;
                    background-position: 0 -43px;
                }
                .address::before {
                    width: 19px;
                    height: 22px;
                    background-position: 0 -66px;
                }
                .address {
                    margin-bottom: 33px;
                }
                .address::after {
                    content: '';
                    position: absolute;
                    bottom: -33px;
                    left: 0;
                    display: block;
                    width: 80px;
                    height: 3px;
                    background: #ff7301;
                }
            }
            .thank-you-box {
                padding-top: 35px;
                font-size: 22px;
                // font-size: 24px;
                text-align: center;
                span:first-child {color: #ff7201;font-weight: 700;}
            }
        }
    }

}
.edit-profile {
    .wrapper {
        min-height: 595px;
        // min-height: 575px;
        // min-height: 680px;
        .wrapper2 {
            padding: 50px 45px;
            font-size: 15px;
            h1 {
                margin-bottom: 15px;
                font-size: 18px;
                font-weight: 700;
                text-transform: uppercase;
            }
            .table {
                padding: 40px 30px 25px;
                border-radius: 5px;
                display: table;
                width: 100%;
                min-height: 375px;
                background: #f3f3f3;
               .cell {
                   padding-bottom: 25px;
                   display: table-cell;
                   width: 50%;
                   vertical-align: top;
                   &:first-child {padding-right: 5%;}
                   &:last-child {padding-left: 5%;}
                   & + .cell {border-left: 1px solid #d4d4d4;}
                   .title {
                       margin-bottom: 25px;
                       font-size: 16px;
                       font-weight: 400;
                       color: #000;
                   }
                   .change-password-form {
                        .row-block {
                            @include flex-box(row,nowrap,flex-start, center);
                            width: 100%;
                            + .row-block {
                                margin-top: 45px;
                                // margin-top: 32px;
                            }
                        }
                        label {
                            padding-right: 5px;
                            color: #010000;
                            width: 135px;
                        }
                        .default {width: calc(100% - 135px);}
                        .error-holder span span {
                            font-size: 11px;
                            line-height: 1;
                        }
                   }
                   .change-phone-form {
                        .row-block {
                            @include flex-box(row,nowrap,space-between, center);
                            width: 100%;
                            .default {
                                &:first-child{width: 85px;}
                                &:last-child {width: calc(100%  - 105px);}
                            }
                        }
                        .error-holder span span {
                            font-size: 11px;
                            line-height: 1;
                        }
                   }
                   .button-holder {
                       margin-top: 40px;
                    //    margin-top: 30px;
                       text-align: center;
                       .button {
                           width: 70%;
                        }

                   }
                   .thanks-message {
                        padding-top: 70px;
                        font-size: 18px;
                        font-weight: 400;
                        text-align: center;
                        color: #000;
                        .icon {
                            margin: 0 auto 20px;
                            display: block;
                            width: 60px;
                            height: 58px;
                            background: url('assets/img/sprite-deposit-icons.png') 0 -338px no-repeat;
                        }
                        div {padding: 0 16%;}
                   }
               }
            }
            .bottom-holder {
                margin-top: 20px;
                font-size: 12px;
                font-weight: 400;
                text-align: center;
                color: #b3b3b3;
                a {
                    color: #ff7301;
                    text-decoration: underline;
                    &:hover {text-decoration: none;}
                }
            }
        }
    }
}

@media print {
    header-logout, footer-logout {
        display: none;
    }
    .main-container {
        background: #fff;
        padding: 0;
    }
    .main-container .wrapper {
        max-width: 100%
    }
    .icons-box {
        display: none;
    }
    .orders-page .wrapper .wrapper2 .pagination-holder {
        display: none;
    }
    .orders-page .wrapper .wrapper2 .table-wrapper {
        overflow: visible;
    }
    .orders-page .wrapper .wrapper2{
        padding: 0;
    }
    .noPrint {
        display: none;
    }
}
/* Common classes End*/

/* Mobil design Start*/
@media (max-width: 960px) {
    .buy-crypto {
        .buy-crypto-steps {
            &.step-4 .input {width: 75%;}
            .button-holder .button {width: 80%;}
        }
    }
}
@media (max-width: 910px) {
    .main-container .wrapper .doc-box .doc-upload-wrap .doc-upload-box {width: 219px;}
}
@media (max-width: 810px) {
    .main-container .wrapper .doc-box.thank-you-page .doc-status-list li {
        padding: 0 10px;
        width: 160px;
    }
}
@media (max-width: 767px) {
    .button {font-size: 17px;}
    .main-container {
        .wrapper {
            .wrapper-2 {
                @include flex-box(column,nowrap,flex-start, center);
                &> *:not(.doc-nav):not(router-outlet) {
                    padding: 30px 40px;
                    border-radius: 0 0 5px 5px;
                    @include flex-box(column,nowrap,flex-start, center);
                    width: 100%;
                }
            }
            .doc-nav {
                @include flex-box(row,nowrap,flex-start, start);
                border-radius: 5px 5px 0 0;
                width: 100%;
                li {
                    a {
                        padding: 10px 15px;
                        min-height: 100px;
                        font-size: 12px;
                        span {font-size: 11px;}
                    }
                    & + li {
                        border-top: 0;
                        border-left: 1px solid #dbdbdb;
                    }
                    &.status-tab {min-height: auto;}
                    &:last-child{
                        &.active {border-radius: 0 5px 0 0;}
                    }
                    &::after{
                        top: 45%;
                        right: -18px;
                        bottom: 0;
                        left: auto;
                        margin: 0;
                        transform: rotate(-90deg);
                    }
                    &.active {
                        &::before {
                            top: 45%;
                            right: auto;
                            left: -5px;
                            margin: 0;
                            transform: rotate(-90deg);

                        }
                    }
                }
            }
            .doc-box {
                min-height: 350px;
                .doc-upload-wrap .doc-upload-box {width: 255px;}
                &.thank-you-page {
                    font-size: 14px;
                    h1 {font-size: 34px;}
                    .doc-status-list li {
                        padding: 0 15px;
                        width: 170px;
                    }
                }
            }
        }
    }
    .buy-crypto {
        .wrapper {
            padding: 30px;
            flex-direction: column;
            .buy-box {width: 100%;}
            .form {
                padding-right: 0;
                max-width: 100%;
            }
            .buy-crypto-steps {
                padding: 20px 0 15px;
                &.step-4 .input {width: 54%;}
                .button-holder .button {width: 66%;}
            }
            .order-details {
                margin: 0 auto;
                width: 80%;
            }
        }
    }
    .orders-page {
        .wrapper {
            min-height: 549px;
            .wrapper2 {padding: 30px 20px;}
        }
    }
    .support-page{
        .wrapper {
            min-height: 416px;
            // min-height: 553px;
            .wrapper2 {padding: 30px 20px;}
            .box:first-child {padding-right: 4%;}
            .box:last-child {padding-left: 4%;}
            .box .thank-you-box {font-size: 20px;}
        }

    }
    .edit-profile {
        .wrapper {
            min-height: 511px;
            .wrapper2 {
                padding: 30px 20px;
                .table {
                    padding: 25px 15px 15px;
                    .cell:first-child {padding-right: 3%;}
                    .cell:last-child {padding-left: 3%;}
                    .cell .change-password-form label {
                        width: 125px;
                        font-size:13px;
                    }
                    .cell .change-password-form .default {
                        width: calc(100% - 125px);
                    }
                }
            }
        }
    }
}
@media (max-width: 640px) {
    .popUp-container {
        padding: 20px;
        font-size: 13px;
        &.desposit-bank-wire {
            p + p {margin-top: 10px;}
            .bank-wire-info {padding: 15px;}
            .button-holder {margin-top: 20px;}
        }
    }
    .main-container {
        .wrapper {
            &.wrapper-1 h1 {font-size: 24px;}
            .wrapper-2 {
                &> *:not(.doc-nav):not(router-outlet) {padding: 30px;}
            }
            .doc-nav {
                li {
                    a {min-height: 107px;}
                    &::after {
                        right: -13px;
                        width: 15px;
                        height: 10px;
                        background-size: contain;
                    }
                    &.active{
                        .personal-info {background-position: -96px 0;}
                        .proof-of-id {background-position: -59px -86px;}
                        .selfie {background-position: -79px -173px;}
                        .status {background-position: -58px -522px;}
                        &::before {
                            left: -4px;
                            width: 15px;
                            height: 10px;
                            background-size: contain;
                        }
                        &::after {
                            right: -12px;
                            background-size: contain;
                        }
                    }
                }
                .doc-icon {
                    &.personal-info {
                        width: 19px;
                        height: 26px;
                        background-position: -70px 0;
                    }
                    &.proof-of-id {
                        width: 43px;
                        height: 30px;
                        background-position: -59px -44px;
                    }
                    &.selfie {
                        width: 53px;
                        height: 29px;
                        background-position: -78px -128px;
                    }
                    &.status {
                        width: 35px;
                        height: 35px;
                        background-position: -58px -467px;
                    }
                }
            }
            .doc-box {
                .button-holder {display: block;}
                .personal-info {
                    .row-block {
                        flex-direction: column;
                        align-items: flex-start;
                        label {
                            margin-bottom: 5px;
                            width: 100%;
                        }
                        .date-of-birth-holder {
                            div {
                                width: 30.3%;
                                .default,.select {width: 100%;}
                                & + div {margin-left: 3.5%;}
                            }
                        }
                        .col-block {
                            width: 100%;
                            &.row-block {
                                flex-direction: row;
                                align-items: center;
                            }
                        }
                    }
                    .button-holder {
                        margin: 50px auto 0;
                        display: block;
                    }
                }
                .doc-upload-wrap {
                    flex-direction: column;
                    .doc-upload-box +  .doc-upload-box {margin-left: 0;}
                }
                &.proof-of-id {
                    .button-holder {margin: 37px auto 0;}
                }
                &.thank-you-page {
                    h1 {font-size: 28px;}
                    .doc-status-list {
                        padding: 0 0 10px;
                        flex-direction: column;
                        li {
                            padding: 20px 0;
                            width: 50%;
                            & + li {
                                border-top: 1px solid #c4c4c4;
                                border-left: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    .tooltip-holder {
        font-size: 11px;
        .tooltip-wrapper {
            padding-left: 0;
            padding-top: 20px;
            left: auto;
            right: -36px;
            .tooltip {
                margin-top: 10px;
                top: 0;
                right: 0;
                left: auto;
                border-radius: 5px;
                width: 200px;
                &::before {
                    top: -12px;
                    left: auto;
                    right: 46px;
                    transform: rotate(90deg);
                }
            }
        }
    }
    .buy-crypto {
        .wrapper {
            padding: 30px 20px;
            .verified-account {font-size: 10px;}
            .buy-crypto-steps {
                .step {padding: 5px 15px 5px 20px;}
                &.step-4 .input {width: 75%;}
                .amount-box {
                    max-width: 151px;
                    .coin, .select {width: 65px;}
                    .input-holder {margin-left: 60px;}
                }
                .approximately-icon {margin: 25px 5px 0;}
                .button-holder .button {width: 80%;}
                .list li .icon-box .eth-tooltip-wrapper {
                    .eth-tooltip {width: 150px;}
                }
            }
            .order-details {
                width: 100%;
                .order-box {
                    padding: 5px 15px 15px;
                    font-size: 13px;
                    .row {padding: 15px 0 10px;}
                    .total-box {font-size: 20px;}
                }
            }
        }
    }
    .support-page {
        .wrapper {
            .wrapper2 {padding: 30px;}
            .box {
                width: 100%;
                display: table-row;
                h1 {text-align: center;}
                .form {margin: 0 auto 35px;}
                & + .box {border-left: 0;}
                &:first-child {
                    padding-right: 0;
                    > div {
                        margin-bottom: 30px;
                        border-bottom: 1px solid #d4d4d4;
                    }
                }
                &:last-child {padding-left: 0;}
                .thank-you-box {padding-bottom: 35px;}
            }
        }
    }
    .edit-profile {
        .wrapper {
            min-height: 511px;
            .wrapper2 {
                padding: 30px;
                .table {
                    padding: 25px 20px 30px;
                    .cell {
                        padding-bottom: 0;
                        display: table-row;
                        width: 100%;
                        & + .cell {border-left: 0;}
                        .change-password-form {
                            padding-bottom: 35px;
                            margin-bottom: 30px;
                            border-bottom: 1px solid #d4d4d4;
                        }
                        .button-holder .button {width: 80%;}
                        .thanks-message {
                            padding-top: 10px;
                            padding-bottom: 10px;
                        }
                    }
                    .cell:first-child {
                        padding-right: 0;
                        .thanks-message {
                            margin-bottom: 25px;
                            padding-bottom: 30px;
                            border-bottom: 1px solid #d4d4d4;
                        }
                    }
                    .cell:last-child {padding-left: 0;}
                }
            }
        }
    }
}
@media (max-width: 420px) {
    .button {font-size: 15px;}
    .inv-api-captcha-holder {
        transform: scale(0.82);
        -webkit-transform: scale(0.82);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
    .popUp-container {
        font-size: 12px;
        &.verify-email {
            .confirm-password {
                margin: 5px auto 0;
            }
            h1,h2 {font-size: 16px;}
            .sub-heading {
                margin-bottom: 20px;
                padding: 0;
            }
            .sub-heading-box {font-size: 15px;}
        }
    }
    .wrapper {
        padding-right: 15px;
        padding-left: 15px;
    }
    .main-container {
        padding: 20px 10px;
        // padding: 30px 15px;
        .wrapper {
            &.wrapper-1 h1 {font-size: 22px;}
            .wrapper-2 {
                & > *:not(.doc-nav):not(router-outlet) {
                    padding: 20px;
                }
            }
            .doc-nav {
                li {
                    &::after {
                        right: -10px;
                        width: 12px;
                        height: 6px;
                    }
                    &.active {
                        &::before {
                            left: -4px;
                            width: 12px;
                            height: 6px;
                        }
                        &::after {right:-9px;}
                    }
                    a {
                        padding: 10px 5px;
                        min-height: 103px;
                        font-size: 11px;
                        span {font-size: 10px;}
                    }
                }
            }
            .doc-box {
                h1 {font-size: 16px;}
                .sub-heading,.button-holder .bottom-holder {font-size: 13px;}
                .personal-info {
                    .row-block {
                        label {font-size: 13px;}
                        & + .row-block {margin-top: 27px;}
                        .date-of-birth-holder {
                            div {
                                width: 30%;
                                .default,.select {width: 100%;}
                                & + div {margin-left: 3.6%;}
                            }
                        }
                     }
                }
                &.thank-you-page {
                    font-size: 13px;
                    h1 {font-size: 22px;}
                    .doc-status-list {
                        li {width: 60%;}
                        .title, a {font-size: 13px;}
                    }
                }
                p + p {
                    margin-top: 5px;
                }
            }
        }
    }
    .buy-crypto {
        .wrapper {
            .buy-crypto-steps {
                .step {
                    margin-right: 15px;
                    padding: 5px 13px 5px 16px;
                    font-size: 12px;
                    &::after {
                        top: 4px;
                        right: -9px;
                        width: 18px;
                        height: 18px;
                    }
                }
                .step-description {font-size: 12px;}
                &.step-4 .input {width: 100%;}
                .select-amount, .list {text-align: center;}
                .amount-box {
                    max-width: 220px;
                    &:last-child {margin-top: 15px;}
                }
                .approximately-icon {
                    margin: 15px auto 0;
                    display: block;
                }
                .button-holder .button {width: 100%;}
                .list li .icon-box .eth-tooltip-wrapper {
                    top: 44px;
                    left: -40px;
                    .eth-tooltip {
                        &::before {
                            top: -11px;
                            left: 80px;
                            -webkit-transform: rotate(90deg);
                            transform: rotate(90deg);
                        }
                    }
                }
            }
            .order-details {
                h1 {font-size: 16px;}
                .order-box {
                    padding: 5px 15px 15px;
                    font-size: 12px;
                    .row {padding: 15px 0 10px;}
                    .total-box {font-size: 17px;}
                }
            }
        }
    }
    .support-page {
        .wrapper {
            .wrapper2 {
                padding: 30px 20px;
                font-size: 13px;
            }
            .box {
                h1 {font-size: 16px;}
                .thank-you-box {font-size: 17px;}
            }
        }
    }
    .edit-profile {
        .wrapper {
            .wrapper2 {
                padding: 20px;
                h1 {font-size: 16px;}
                .table {
                    .cell {
                        .title {font-size: 14px;}
                        .change-password-form {
                            .row-block {
                                flex-direction: column;
                                label,.default {width: 100%;}
                                label + .default {margin-top: 15px;}
                                & + .row-block {margin-top: 25px;}
                            }
                        }
                        .change-phone-form .row-block .default:first-child {width: 70px;}
                        .change-phone-form .row-block .default:last-child {width: calc(100% - 80px);}
                        .thanks-message {font-size: 16px;}
                    }
                }
            }
        }
    }
    .orders-page {
        .wrapper {
            min-height: 470px;
            .wrapper2 {
                padding: 20px;
                .header-holder h1 {font-size: 16px;}
                .table-wrapper {
                    .box {
                        height: 40px;
                        font-size: 11px;
                        &.table-header {font-size: 12px;}
                    }
                    .open-order-holder {
                        padding: 0 10px 10px;
                        font-size: 11px;
                        .open-box {
                            padding: 10px 10px 0;
                        }
                        .transaction-info {
                            div span {font-size: 12px;}
                        }
                    }
                    .empty-table {
                        .box {font-size: 16px;}
                    }
                }
                .pagination-holder {font-size: 12px;}
            }
        }
    }
}
/* Mobil design End*/
