<div class="inv-api-popup-container">
	<i class="_invApiCLose inv-api-close-icon"></i>
	<div class="inv-api-popUp-container2 inv-api-confirm-popUp">
		<i class="inv-api-popUp-icon inv-api-confirm-password"></i>
		<h1 class="inv-api-h1">{{confirm-email-title}}</h1>
		<div class="inv-app-sub-heading">{{confirm-email-sub-heading}}</div>
		<div class="inv-api-box">
			<h2 class="inv-api-h2">{{confirm-email-title-2}}</h2>
			<div class="inv-api-h2 inv-app-sub-heading-box">{{confirm-email-title-2-2}}</div>
			<p class="inv-api-p">{{confirm-email-txt1}}</p>
			<p class="inv-api-p">{{confirm-email-txt2}}</p>
			<p class="inv-api-p">{{confirm-email-txt3}}</p>
		</div>
	</div>
</div>