<div class="inv-api-popup-container">
    <i class="_invApiCLose inv-api-close-icon"></i>
    <div class="inv-api-popUp-container2">
        <i class="inv-api-popUp-icon inv-api-forgot-password"></i>
        <h1 class="inv-api-h1">{{forgot-password-title}}</h1>
        <div class="inv-app-sub-heading">{{forgot-password-txt}}</div>
        <form class="_invApiForm inv-api-form inv-api-mt20">
            <div class="inv-api-errors-holder ">
                <div class="_invApiErrors inv-api-errors inv-api-row"></div>
            </div>			
            <div class="inv-api-row inv-api-email-holder">
                <input class="_invApiEmail  inv-api-input inv-api-email" type="email" placeholder="{{placeholder-email}}"/>
            </div>
            <div class="inv-api-btn-holder">
                <button class="_invApiSubmit inv-api-btn">{{button-reset-password}}</button>
            </div>
        </form>
    </div>
</div>