<div class="inv-api-popup-container">
	<i class="_invApiCLose inv-api-close-icon"></i>
	<div class="inv-api-popUp-container2 inv-api-login">
		<div class="inv-api-info-txt-1">{{login-txt}}</div>
		<div class="inv-api-info-txt-2">{{login-txt-update-password}}</div>
		<h1 class="inv-api-h1">{{login-title}}</h1>
		<form class="_invApiForm inv-api-form">
			<div class="inv-api-errors-holder ">
				<div class="_invApiErrors inv-api-errors inv-api-row"></div>
			</div>
			<div class="inv-api-row inv-api-email-holder">
				<input class="_invApiEmail  inv-api-input inv-api-email" type="email" placeholder="{{placeholder-email}}"/>
			</div>

			<div class="inv-api-row inv-api-password-holder">
				<input class="_invApiPassword inv-api-input inv-api-password" type="password" placeholder="{{placeholder-password}}"/>
				<i class="_invApiShowPasswrod inv-api-show-password"></i>
			</div>

			<div id="_invApiRecaptcha" class="inv-api-captcha-holder"></div>

			<div class="inv-api-btn-holder">
				<button class="_invApiSubmit inv-api-btn">{{button-login}}</button>
			</div>

			<div>
				<a class="_invApiRegisterLink inv-api-orange-link">{{dont-have-account}}</a>
				<a class="_invApiForgotLink inv-api-orange-link">{{forgot-password}}</a>
			</div>
		</form>
	</div>
</div>