<div class="inv-api-popup-container">
	<i class="_invApiCLose inv-api-close-icon"></i>
	<div class="inv-api-popUp-container2 inv-api-register">
		<h1 class="inv-api-h1">
			{{register-title}}
		</h1>

		<form class="_invApiForm inv-api-form">
			<div class="inv-api-errors-holder ">
				<div class="_invApiErrors inv-api-errors"></div>
			</div>
			
			<div class="inv-api-row inv-api-email-holder">
				<input class="_invApiEmail inv-api-input inv-api-email" type="email" placeholder="{{placeholder-email}}" />
			</div>

			<div class="inv-api-row inv-api-password-holder">
				<span class="inv-api-password-restriction">({{password-restriction-txt}})</span>
				<input class="_invApiPassword inv-api-input inv-api-password" type="password" placeholder="{{placeholder-password}}"/>
				<i class="_invApiShowPasswrod inv-api-show-password"></i>
			</div>

			<div class="inv-api-row inv-api-password-holder">
				<input class="_invApiPasswordConfirm inv-api-input inv-api-password" type="password" placeholder="{{placeholder-confirm-password}}"/>
				<i class="_invApiShowPasswrodConfirm inv-api-show-password"></i>
			</div>

			<!-- <div class="inv-api-password-strength-holder">
				<div class="_invApiPasswrodStrength inv-api-password-strength"></div>
				<div class="_invApiPasswordStrengthDspl inv-api-password-txt">Weak</div>
			</div> -->

			<div>
				<label class="inv-api-checkbox-holder">
					<input type="checkbox" class="_invApiAcceptTerms"/>
					<span class="inv-api-checkbox" tabindex="0"></span>
					<span class="inv-api-checkbox-txt">{{terms-and-conditions}}</span>
				</label>
			</div>

			<div id="_invApiRecaptcha" class="inv-api-captcha-holder"></div>

			<div class="inv-api-btn-holder">
				<button class="_invApiSubmit inv-api-btn">{{button-register}}</button>
			</div>
			<a class="_invApiLoginLink inv-api-orange-link">{{existing-account}}</a>
		</form>
	</div>
</div>