<div class="inv-api-popup-container">
	<i class="_invApiCLose inv-api-close-icon"></i>
	<div class="inv-api-popUp-container2 inv-api-confirm-popUp">
		<i class="inv-api-popUp-icon inv-api-confirm-password"></i>
		<h1 class="inv-api-h1">{{confirm-email-title}}</h1>
		<div class="inv-app-sub-heading">{{confirm-email-sub-heading}}</div>

		<div class="inv-api-box">
			<div class="inv-api-h2 inv-app-sub-heading-box inv-api-mb0">{{confirm-email-thank-you}}</div>
			<div class="_invApiErrors inv-api-unexpected-error"><!--ERROR IF THERE IS NO SESSION--></div>
			<div class="inv-api-txt">{{confirm-email-txt4}}</div>
		</div>
	</div>
</div>