<div class="inv-api-popup-container">
    <i class="_invApiCLose inv-api-close-icon"></i>
    <div class="inv-api-popUp-container2 inv-api-reset-password-container">
        <i class="inv-api-popUp-icon inv-api-reset-password"></i>
        <h1 class="inv-api-h1">{{reset-password-title}}</h1>
        <form class="_invApiForm inv-api-form">
            <div class="inv-api-errors-holder ">
                <div class="_invApiErrors inv-api-errors inv-api-row"></div>
            </div>
            <div class="inv-api-row inv-api-password-holder">
                <span class="inv-api-password-restriction">({{password-restriction-txt}})</span>
                <input class="_invApiPassword inv-api-input inv-api-password" type="password" placeholder="{{placeholder-new-password}}"/>
                <i class="_invApiShowPasswrod inv-api-show-password"></i>
            </div>

            <div class="inv-api-row inv-api-password-holder">
                <input class="_invApiPasswordConfirm inv-api-input inv-api-password" type="password" placeholder="{{placeholder-reenter-password}}"/>
                <i class="_invApiShowPasswrodConfirm inv-api-show-password"></i>
            </div>
    <!--
            <div class="inv-api-password-strength-holder">
                <div class="_invApiPasswrodStrength inv-api-password-strength"></div>
                <div class="_invApiPasswordStrengthDspl inv-api-password-txt">Weak</div>
            </div>
    -->

            <div class="inv-api-btn-holder">
                <button class="_invApiSubmit inv-api-btn">{{button-update}}</button>
            </div>
        </form>
    </div>
</div>