/* CSS */

/* --- Desktop CSS Start --- */

/* Black Overlay */
.inv-api-popup-bgr {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    overflow: auto;
}

/* PopUp Container */
.inv-api-popup-container {
    box-sizing: border-box;
    position: relative;
    top: 10%;
    right: 0;
    left: 0;
    margin: 0 auto 100px auto;
    padding: 0 35px;
    max-width: 800px;
    /* max-width: 1005px; */
    height: 460px;
    /* height: 425px; */
    /* height: 530px; */
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    background: url('assets/img/inv-api-bg-popUp.png') center center no-repeat;
    background-size: cover;
}

/* Close Icon Start */
.inv-api-close-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    display: block;
    width: 14px;
    height: 14px;
    cursor: pointer;
}
.inv-api-close-icon::before, .inv-api-close-icon::after {
    content: '';
    position: absolute;
    top: 7px;
    left: -2px;
    display: block;
    width: 18px;
    height: 2px;
    background: #fff;
}
.inv-api-close-icon::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.inv-api-close-icon:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
/* Close Icon End*/

/* PopUp Container2 */
.inv-api-popUp-container2 {
    box-sizing: border-box;
    position: absolute;
    right: 0;
    left: 0;
    margin: -23px auto 0;
    padding: 25px;
    border-radius: 5px;
    width: 390px;
    /* max-width: 390px; */
    min-height: 506px;
    color: #232323;
    background: #fff;
}

/* Headings Start */
.inv-api-h1, .inv-api-h2 {
    margin: 0;
    padding: 0;
    font-weight: 300;
    text-transform: uppercase;
}
.inv-api-h1, .inv-api-h2 {
    font-size: 18px;
    /* font-size: 20px; */
    color: #101617;
    text-align: center;
}
.inv-api-h1 {
    margin: 25px 0;
}
.inv-api-h2 { 
    margin-bottom: 10px;
    /* margin-bottom: 15px; */
}
.inv-app-sub-heading-box {
    margin-bottom: 15px;
    /* margin-bottom: 25px; */
    text-transform: initial;
}
.inv-app-sub-heading {
    margin-bottom: 25px;
    /* margin-bottom: 40px; */
    padding: 0 6%;
    font-size: 14px;
    /* font-size: 16px; */
    color: #232323;
    text-align: center;
}
.inv-app-heading-2 {
    font-size: 22px;
    text-transform: uppercase;
    color: #fff;
    display: none;
}
.inv-api-info-txt-1, .inv-api-info-txt-2 {
    padding: 10px;
    border-radius: 5px;
    display: none;
    font-size: 13px;
    text-align: center;
    color: #000;
    background: #efefef;
}
.inv-api-confirmed .inv-api-info-txt-1 {
    display: block;
}
.inv-api-after-reset .inv-api-info-txt-2 {
    display: block;
}
/* Headings End */

/* Orange Button Start*/
.inv-api-btn-holder {
    margin: 30px 0 15px;
    /* margin: 40px 0 20px; */
}
.inv-api-btn {
    padding: 12px 15px;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    border: 0;
    border-radius: 5px;
    font: normal normal 700 18px/1 'Open Sans', sans-serif;
    color: #fff;
    background: rgb(255,115,1);
    cursor: pointer;
}
.inv-api-btn:focus {
    outline: none;
}
.inv-api-btn:hover {
    background: rgb(255,135,38);
}
.inv-api-btn:active {
    background: rgb(255,97,1);
}
.inv-api-btn:disabled {
    color:#b7b6b4;
    background:#dedede;
    cursor: default;
}
/* Orange Button End*/

/* Links  Start*/
/* orange */
.inv-api-orange-link {
    display: block;
    font-size: 12px;
    color: #ff7301;
    text-align: center;
    text-decoration: underline;
    transition: all 250ms;
    cursor: pointer;
}
.inv-api-orange-link:hover {text-decoration: none;}
/* Links  End*/

/* Form Start */
.inv-api-form {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 280px;
    /* max-width: 335px; */
}

.inv-api-row + .inv-api-row {
    margin-top: 20px;
}

/* Input field Start */
.inv-api-input {
    box-sizing: border-box;
    margin: 0;
    padding: 10px 15px;
    border: 1px solid #d2d0d0;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    font: normal normal 300 13px/1.4 'Open Sans', sans-serif;
    background: transparent;
    color: #101617;
}
.inv-api-input::-ms-clear,.inv-api-input::-ms-reveal {display: none;}
.inv-api-input:focus {outline: none;}
.inv-api-form ::-webkit-input-placeholder {font: normal normal 300 13px/1.4 'Open Sans', sans-serif;color: #939393;}
.inv-api-form ::-moz-placeholder {font: normal normal 300 13px/1.4 'Open Sans', sans-serif;color: #939393;}
.inv-api-form :-ms-input-placeholder {font: normal normal 300 13px/1.4 'Open Sans', sans-serif;color: #939393;}
.inv-api-form ::placeholder {font: normal normal 300 13px/1.4 'Open Sans', sans-serif;color: #939393;}
/* Input field End */

/* Checkbox Start */
.inv-api-checkbox-holder {
    margin-top: 15px;
    display: block; 
    width: 100%;
}
.inv-api-checkbox-holder input[type="checkbox"] {display: none;} 
.inv-api-checkbox {
    box-sizing: border-box;
    position: relative;
    margin-right: 5px;
    display: inline-block;
    vertical-align: top;
    width: 15px;
    height: 15px;
    border: 1px solid #cdcfd1;
    border-radius: 3px;
    background: #fff;
    transition: all 250ms;
    cursor: pointer;
}
.inv-api-checkbox:focus {outline: none;}
 .inv-api-checkbox::before,
 .inv-api-checkbox::after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 2px;
    border-radius: 1px;
    background: #ff7301;
}
.inv-api-checkbox::before {
    top: 7px;
    left: 1px;
    transform: rotate(45deg);
}
.inv-api-checkbox::after {
    top: 6px;
    left: 3px;
    transform: rotate(-45deg);
}
.inv-api-checkbox-holder input[type="checkbox"]:checked +  .inv-api-checkbox::before {
    width: 5px;
    transition: 0.28s;
}
.inv-api-checkbox-holder input[type="checkbox"]:checked +  .inv-api-checkbox::after {                                                                                   
    width: 9px;    
    transition: 0.28s;
    transition-delay: 0.12s;
}
.inv-api-checkbox-txt {
    display: inline-block;
    width: 90%;
    font-size: 11px;
    color: #545454;
    font-weight: 300;
}
.inv-api-checkbox-txt a {
    color: #545454;
    transition: all 250ms;
    text-decoration: underline;
}
.inv-api-checkbox-txt a:hover {text-decoration: none;}
/* Checkbox End */

/* Password Start */
.inv-api-password-holder {position: relative;}
.inv-api-password-holder .inv-api-input {padding: 10px 40px 10px 15px;}
.inv-api-show-password {
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -5px;
    display: block;
    width: 15px;
    height: 10px;
    background: url('assets/img/inv-api-password-icon.png') no-repeat;
    cursor: pointer;
}
.inv-api-password-holder input[type="text"] + .inv-api-show-password::before {
    content: '';
    position: absolute;
    top: 4px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 1px;
    background: #b2b3b5;
    transform: rotate(-45deg);
}
.inv-api-password-holder .inv-api-password-restriction {
    position: absolute;
    top: -13px;
    right: 0;
    font-size: 9px;
    color: #bbbbbb;
}
.inv-api-password-strength-holder {
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.inv-api-password-strength {
    width: 0;
    height: 4px;
    border-radius: 3px;
    background: #ed1c24;
    transition: all 1s;
}
.inv-api-password-strength-tooweak {
    top: 6px;
    left: 0;
    width: 20%;
    background: #ed1c24;
    transition: all 1s;
}
.inv-api-password-strength-tooshort {
    width: 20%;
    height: 4px;
    background: #ed1c24;
    transition: all 1s;
}
.inv-api-password-strength-good {
    width: 66%;
    background: #ff7301;
    transition: all 1s;
}
.inv-api-password-strength-strong {
    width: 100%;
    background: #39b54a;
    transition: all 1s;
}
.inv-api-password-txt {
    font-size: 12px;
}
.inv-api-password-txt-weak {
    color: #ed1c24;
}
.inv-api-password-txt-medium {
    color: #ff7301;
}
.inv-api-password-txt-strong {
    color: #39b54a;
}
/* Password End */

/* Errors Start*/
.inv-api-errors-holder {
    position: relative;
    min-height: 30px;
}
.inv-api-errors {
    padding: 10px 0 5px;
    display: none;
    font-size: 12px;
    color: #ff0000;
    line-height: 1;
}
.inv-api-errors::before {
    content: '*';
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
}
.inv-api-unexpected-error {
    position: absolute;
    top: 20px;
    font-size: 12px;
    color: #ff0000;
}
.inv-api-unexpected-error::before {
    content: '*';
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
}
/* Errors End */
/* Form End */

/* Captcha */
.inv-api-captcha-holder {
    margin-top: 30px;
    transform:scale(0.92);
    -webkit-transform: scale(0.92);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}
.inv-api-captcha-holder > div {margin: 0 auto;}

/* Register PopUp Start*/
.inv-api-register .inv-api-h1 {margin: 10px 0 0;}
.inv-api-register .inv-api-captcha-holder {margin-top: 15px;}
.inv-api-register .inv-api-form .inv-api-btn-holder {margin: 11px 0 10px;}
/* Register PopUp End*/

/* Login PopUp Start */
.inv-api-login .inv-api-h1 {margin: 25px 0 0;}
.inv-api-login .inv-api-btn-holder {margin: 22px 0 15px;}
/* Login PopUp End */

/* Reset Password Start */
.inv-api-reset-password-container .inv-api-errors-holder {min-height: 45px;}
.inv-api-reset-container .inv-api-errors {padding: 10px 0 15px;}
/* Reset Password End */

/* Confirm PopUps Start */
.inv-api-confirm-popUp {width: 405px;}
.inv-api-confirm-popUp .inv-app-sub-heading {margin-bottom: 35px;}
/* Confirm PopUps End */

.inv-api-p {
    margin: 0;
    font-size: 14px;
}
.inv-api-p + .inv-api-p {
    margin-top: 10px;
}

/* Grey box confirm popUps Start */
.inv-api-box {
    box-sizing: border-box;
    position: relative;
    padding: 20px 15px 25px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    min-height: 225px;
    text-align: center;
    background: #f4f4f4;
}
.inv-api-box .inv-api-p::before {
    content: '';
    margin: 0 5px 5px 0;
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 13px;
    background: url('assets/img/inv-api-green-check.png') no-repeat;
}
.inv-api-txt {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 16px;
    font-size: 12px;
    font-weight: 400;
    color: #b3b3b3;
}
.inv-api-box a {
    color: #ff6600;
    text-decoration: underline;
    cursor: pointer;
    transition: all 250ms;
}
.inv-api-box a:hover{text-decoration: none;}
.inv-api-mb0 {margin-bottom: 0;}
/* Grey box confirm popUps End */

/* PopUp Icons Start */
.inv-api-popUp-icon {
    margin: 35px auto 0;
    display: block;
}
.inv-api-popUp-icon.inv-api-confirm-password {
    margin-top: 15px;
    width: 65px;
    height: 65px;
    background: url('assets/img/inv-api-confirm-password.png') no-repeat;
}
.inv-api-popUp-icon.inv-api-forgot-password {
    width: 50px;
    height: 49px;
    background: url('assets/img/inv-api-forgot-password.png') no-repeat;
}
.inv-api-popUp-icon.inv-api-reset-password {
    width: 40px;
    height: 53px;
    background: url('assets/img/inv-api-reset-password.png') no-repeat;
}
/* PopUp's Icons End*/

/* crypto box */
.inv-api-crypto-box {
    display: table;
    background: rgba(255, 255, 255, 0.21);
    padding: 15px;
    border-radius: 4px;
    width: 100%;
}
.inv-api-crypto-box .inv-app-cell {
    display: table-cell;
    vertical-align: middle;
    width: 33%;
    text-align: center;
}
.inv-api-crypto-box .inv-app-cell.inv-app-crypto-eq {
    width: 7%;
    vertical-align: middle;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}
.inv-app-crypto-inp-holder {
    border: 1px solid #cfcfcf;
    border-radius: 4px;
    width: 100%;
    text-align: left;
    background: #f3f3f3;
}
.inv-app-crypto-input {
    border: none;
    display: inline-block;
    width: 56%;
    font-size: 16px;
    text-align: center;
    color: #000;
    background: #f3f3f3;
    outline: none;
}
.inv-app-crypto-input::-ms-clear,.inv-app-crypto-input::-ms-reveal {
    display: none;
}
.inv-app-crypto-select {
    padding: 15px 19px 15px 12px;
    border: solid #cfcfcf;
    border-width: 0 1px 0 0;
    border-radius: 4px;
    display: inline-block;
    width: 40%;
    font-size: 16px;
    color: #313131;
    background: #fff url('assets/img/inv-api-select-arrow-white.png') no-repeat;
    background-position: calc(100% - 10px) 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}
.inv-app-crypto-select::-ms-expand {
    display: none;
}
.inv-api-crypto-btn-holder {
    padding-left: 20px;
}
.inv-api-crypto-btn-holder .inv-api-btn {
    padding: 17px 5px;
    border-radius: 4px;
}
/* crypto box end */

/* --- Desktop CSS End --- */

/* --- CSS for mobile devices Start --- */
@media (max-width: 840px) {
    .inv-api-popup-container {margin: 0 20px 100px;}
}
@media (max-width: 767px) {
    .inv-api-popup-container {
        padding: 40px 15px;
        /* min-height: 508px; */
        /* min-height: 69%; */
        height: auto!important;
    }
    .inv-api-popUp-container2 {
        position: initial;
        margin: 0 auto;
        min-height: auto;
    }
}
@media (max-width: 520px) {
    .inv-api-crypto-box {
        display: block;
        width: auto;
        max-width: 270px;
    }
    .inv-api-crypto-box .inv-app-cell {
        display: block;
        width: auto;
    }
    .inv-api-crypto-box {
        padding: 10px;
    }
    .inv-api-crypto-box .inv-app-cell.inv-app-crypto-eq {
        width: auto;
        padding: 10px;
    }
    .inv-api-crypto-btn-holder {
        padding: 20px 0 0 0;
    }
    .inv-api-popUp-container2 {width: 100%;}
}
@media (max-width: 480px) {
    .inv-api-h1, .inv-api-h2 {font-size: 16px;}
    .inv-api-checkbox-txt {width: 85%;}
    /* .inv-api-captcha-holder {
        transform:scale(0.77);
        -webkit-transform: scale(0.77);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    } */
    .inv-app-sub-heading {padding: 0;}
    /* .inv-api-register .inv-api-btn-holder {margin: 25px 0 15px;} */
    /* .inv-api-register .inv-api-errors {
        padding-top: 0px;
    } */
}
@media (max-width: 374px) {
    .inv-api-popup-container {margin: 0 10px 100px;}
    .inv-api-captcha-holder {
        transform: scale(0.77);
        -webkit-transform: scale(0.77);
    }
}
@media (max-width: 320px) {
    .inv-api-captcha-holder {
        transform: scale(0.72);
        -webkit-transform: scale(0.72);
    }
}
/* --- CSS for mobile devices End --- */