<div class="inv-api-crypto-box">
	<div class="inv-app-cell">
		<div class="inv-app-crypto-inp-holder">
			<select class="_invApiCurrency inv-app-crypto-select">
				<option value="USD">USD</option>
				<option value="EUR">EUR</option>
				<option value="GBP">GBP</option>
			</select>
			<input class="_invApiAmount inv-app-crypto-input" value="500"/>
		</div>
	</div>

	<div class="inv-app-cell inv-app-crypto-eq">≈</div>

	<div class="inv-app-cell">
		<div class="inv-app-crypto-inp-holder">
			<select class="_invApiMarket inv-app-crypto-select">
				<option value="USDT-BTC">BTC</option>
				<option value="USDT-ETH">ETH</option>
			</select>
			<input class="_invApiQuantity inv-app-crypto-input" />
		</div>
	</div>

	<div class="_invApiRegisterLinkHolder inv-app-cell inv-api-crypto-btn-holder">
		<button type="button" class="_invApiRegisterLink inv-api-btn">{{button-get-started}}</button>
	</div>
</div>