<ng-container *ngIf="input.touched && input.dirty">
  <span *ngFor="let error of input.errors | keys | slice:0:1">
    <span *ngIf="!error.value.msg">{{ 'error-' + error.key | translate: error.value }}</span>
    <span *ngIf="error.value.msg">{{ error.value.msg }}</span>
  </span>
</ng-container>